[2018-01-25 12:37] sulian commented on #569
thanks you for your response 👍

I can help for french version.

[2018-01-26 09:25] Chalarangelo commented on #560
I suppose returning an empty object would be more desirable.

@skatcat31 Adding `get`, `getAll` and `has` is not necessary, as it's easy enough to use the returned object afterwards to determine these things without the use of custom methods.

[2018-01-26 09:36] #560 closed

[2018-01-26 11:16] kriadmin commented on #569
I can help in the `hindi` version

[2018-01-26 14:55] fejes713 commented on #566
I totally agree with @Chalarangelo, personally, I am not sure how much work needs to be done but right now this is not urgent, and @skatcat31 also has a point in this. Take my vote to be neutral, and do as you want to.

I suggest that we keep this in mind, as this repo will, hopefully, get lots of traffic sometimes in the future 👍

[2018-01-26 15:02] fejes713 commented on #569
This would be awesome if we had few people to take care of that. Having something multilingual means that it has to be updated regularly not just make it once and leave it forever.

Snippets change, descriptions do, contribution guidelines also... We would need a really hardcore maintenance team to take care of every single language out there

For now, I think we should stick to English only. Pers

[2018-01-26 15:39] Chalarangelo commented on #569
About 5-10k lines of text (conservative estimate) need to be translated in each language. That's a ton of work for any one person to deal with and keep an eye out on for future changes. Doesn't seem viable to me honestly.

[2018-01-26 15:55] fejes713 commented on #569
@Chalarangelo We should close this one right? 😄

[2018-01-26 17:12] Chalarangelo commented on #569
Yep, at least for now. Maybe we can revisit this later down the line, but I'm not suepr optimistic this is doable unless we sort of stop adding stuff at some point and have a stable long-term release, which I doubt would work well with the nature of the repo.

[2018-01-26 17:12] #569 closed

[2018-01-28 13:24] Chalarangelo commented on #100
After 1.5 months of work, all the worthwhile methods from Lodash have been added as snippets in the repository. Huge thanks to everyone who contributed to this enormous project!

[2018-01-28 13:24] #100 closed

[2018-01-29 09:26] Ghohankawk opened #580 "there may be a bug in randomHexColorCode function"
hi,i read the this code rencently, i maybe find a bug in randomHexColorCode function.

your code is

[code]

in this code ,varible n, n.lengh can be little than 6, this means 1 or 2 or 3 or 4 or 5 or 6

when n.length === 1,eg, n = 5,if ((Math.random() * 0xf) | 0).toString(16) = 6,the function may return '#65',this is not 24 bits color

is am wrong ?

so this is my code

[code]

thanks

[2018-01-29 12:30] kriadmin commented on #580
@Ghohankawk @Chalarangelo   I think we can just do the following:
[code]

[2018-01-30 02:58] #580 closed

[2018-01-31 05:41] quanzaiyu opened #584 "parseCookie"
I suggest improving this method : parseCookie.

Your original text is

[code]

But if there is a lack of a semicolon, it will be wrong.

My code is like this:

[code]

[2018-01-31 09:26] yogalin1993 commented on #584
Lacking of a semicolon will not cause a mistake. You can try it.
[code]

[2018-01-31 17:16] Chalarangelo commented on #584
The snippet works fine even if no semicolon is present. I'm closing this.

[2018-01-31 17:16] #584 closed

[2018-01-31 17:18] Chalarangelo commented on #566
As far as I can tell most of us are against these changes. I'm closing, but feel free to comment or reopen the issue if you want to discuss this further.

[2018-01-31 17:18] #566 closed

[2018-01-31 17:23] Chalarangelo commented on #538
So, in regards to existing snippets, should we keep the 3 `date` snippets we have? They seem usable and don't seem to cause a lot of trouble as they are, as [`formatDuration`](https://github.com/Chalarangelo/30-seconds-of-code#formatduration) is a simple mathematical transformation, [`getDaysDiffBetweenDates`](https://github.com/Chalarangelo/30-seconds-of-code#getdaysdiffbetweendates) accepts a `D

[2018-02-01 12:02] Chalarangelo commented on #538
After re-reading the whole thread, I think I have a suggestion about the `date` category as a whole, one that could go into the guidelines:

### Date snippets considerations

As far as snippets that deal with date parsing and formatting are concerned:

- Snippets that apply mathematical transformations to raw millisecond (`ms`) values, such as [`formatDuration`](https://github.com/Chalarangelo/30-

[2018-02-01 15:56] ErrOrnAmE opened #587 "Function: delay is just another name for setTimeout"
[code]

Isn't that the same as the following ?
[code]

[2018-02-01 15:59] Chalarangelo commented on #587
It is, but that way whoever is reading the snippet will not be able to easily understand the expected arguments. `delay` might not seem like much, but a lot of people are not instantly familiar with `setTimeout` so it serves a practical purpose in terms of learning for beginners.

[2018-02-01 15:59] #587 closed

[2018-02-02 10:55] #538 closed

[2018-02-03 09:51] Chalarangelo commented on #526
I just updated the log at the top, should (mostly) reflect all snippets that have been tested so far. Let's add tests for the rest!

[2018-02-03 10:41] Chalarangelo commented on #526
### Problematic snippets in terms of testing

- **Anything that produces random values**: I propose we jsut test these manually once and just check them as tested in the log. It's almost impossible to evaluate them via unit tests.
- **Browser-specific snippets**: We should override the normal snippet code and use `jsdom` to test them. Still, there are a few outliers that can only be tested manuall

[2018-02-03 17:57] kriadmin commented on #526
@Chalarangelo I think we can test the random snippets. For example for the `randomeHexColorCode` we can just check if it start with a `#` has a length of seven and contains nothing other than letter a-f and numbers. We can do the same for others can't we?

[2018-02-04 19:04] Chalarangelo commented on #526
As far as I can tell, all snippets that are easily testable (i.e. do not fall in any of the above categories) have at least one or two tests specified for them, so most of our codebase is safe to use (about 81% test coverage right now).

[2018-02-06 04:29] Ghohankawk commented on #580
@kriadmin yes,this is a good way,thanks a lot

[2018-02-07 05:13] OPY-bbt opened #593 "why mapObject function use closure"
[code]
This way is more simple and easy to understand

[2018-02-07 05:44] skatcat31 commented on #593
Yes it's archaic(and I even noted so when I suggested it), however it shows interior deceleration of a closure in design principle for dynamic variable deceleration without declaring a scope block, and without using keywords, instead relying on the comma operator and the implicit declaration.

Granted mapObject is also the same as the following currently, which without composition is a pretty nift

[2018-02-07 05:45] skatcat31 commented on #593
IIRC we did also offer up the reduce version as well...

[2018-02-07 15:10] kingdavidmartins commented on #593
@OPY-bbt Good question. Although it might seem simple there is def more going on that meets the eye. As @skatcat31 stated with regards to IIFE, closures, hoisting, and much more other JavaScript specific "side effect" or what have you. Which def provides an amazing learning opportunities for all kinds of dev. Seasoned or not. Especially since JavaScript has it's own quirks

For example as you can

[2018-02-07 17:47] skatcat31 commented on #593
HA! We forgot the advanced tag! Shows where I concentrate my efforts( code quality and stability ). Good catch @kingdavidmartins we should add that tag

[2018-02-07 23:46] Chalarangelo commented on #593
I think the original question has been answered and #595 has addressed the tagging issue, so I'm closing this.

[2018-02-07 23:46] #593 closed

[2018-02-08 09:06] OPY-bbt commented on #593
Thank you for explaining so much to me. I know there must be a reason for this, but I didn't think of it. Thanks to this project, I learned a lot.However, i think a function does one thing only. like the introduce says 'Maps the values of an array to an object using a function'.

[2018-02-08 14:02] Chalarangelo commented on #526
I have been adding a few custom tests for some snippets, bypassing limitations such as the lack of the `Blob` class, not having a `XMLHttpRequest` implmentation in node and utilizing `console.debug`, so that we can ensure that snippets work.

[2018-02-08 22:01] skatcat31 commented on #593
@OPY-bbt your version was missing something:
[code]
[code]
They are now consistent as it provides the same footprint as map( `(value, index, array)`). While we could switch to that version(less looping), we don't have any examples that show an inline anonymous closure. If I could find a more "useful" example of that I might be more inclined to switch the closure to that snippet, but it's a task th

[2018-02-09 07:37] OPY-bbt commented on #593
ok, I agree with the fn need provides the same footprint  as map. Thank you.

[2018-02-09 08:59] OPY-bbt opened #601 "advanced zipWith"
[code]
Is there any problem with this? thanks

[2018-02-09 09:36] Chalarangelo commented on #601
If there are no bugs or unexpected edge-cases this cannot handle, I see no reason why we shouldn't shorten the snippet.

[2018-02-16 03:31] RCHowell opened #608 "[FEATURE] Super simple app to browse snippets"
I threw together this Flutter app which lets you browse snippets on your phone.

Link to repo [here](https://github.com/RCHowell/seconds_of_code).

It will run on iOS and Android. All you have to do is visit [https://flutter.io](https://flutter.io) and download the framework.

[2018-02-16 08:16] kriadmin commented on #608
@RCHowell Is it online or offline? How are new snippets added? Can you share some screenshots?

[2018-02-16 12:02] Chalarangelo commented on #526
I'm closing the issue as all snippets that are testable now have automatic tests. Some tests were performed manually, so if changes are made to those snippets, we will have to re-evaluate their tests by hand (but that's like 10% of the codebase). A huge thanks to everyone who has contributed!

[2018-02-16 12:02] #526 closed

[2018-02-16 14:18] RCHowell commented on #608
It is online. It pulls snippets from the `/snippets` folder. The only issue it has right now, is that the base64 encoding of each snippet's markdown file has newlines in it, but dartlang's base64 decoder struggles with newlines. I can look into fixing that today.

![](https://i.imgur.com/xLVr0Xm.png)

![](https://i.imgur.com/98Gd9hq.png)

[2018-02-16 18:26] RCHowell commented on #608
Just fixed the newline issue. See screenshot.
![](https://i.imgur.com/blyXMoF.png)

[2018-02-17 09:12] fejes713 commented on #526
The small step for us, the big one for JS learners.

[2018-02-18 18:10] Chalarangelo commented on #608
I think we could probably link to download links for the app from the README, in case anyone wants to use it. It looks nice and simple, so I expect that a lot of people will find it a convenient alternative to the website and README.

[2018-02-22 14:26] Shenmin-Z opened #612 "[not BUG or FEATURE]Question about sortedLastIndex and sortedLastIndexBy"
Not a bug since it's working; not a feature as it's not something new.
For sortedLastIndex and sortedLastIndexBy, there is
[code]
I wonder what `map((val, i) => [i, val])` does, seems like that piece can be done without it, like
[code]

Or maybe the intention was to use `find` instead of `findIndex`?

[2018-02-22 14:38] Chalarangelo commented on #612
The mapping is done in order to store the original index alongside the value so that the original index (not the one in the reversed array) can be returned.

[2018-02-23 18:44] Pl4gue commented on #608
Just left you an email @RCHowell.

[2018-02-24 13:02] kriadmin opened #615 "[BUG] Website is difficult to use on mobile."
## [BUG]  The icon on left corner to open search(on mobile)  is not visible when we are not on top.
I am not a CSS ninja so can't suugest something perfect  but we can use `position : fixed`? Maybe @atomiks can suggest a better fix.

[2018-02-25 20:48] Shenmin-Z commented on #612
I mean I know what `map((val, i) => [i, val])` does, but that mapped result is not used later in the code. I see `el[1]` which is value, but I don't anything like `el[0]`.

[2018-02-25 21:14] fejes713 commented on #608
@RCHowell Amazing work 🔥

[2018-02-25 21:34] Chalarangelo commented on #612
Whoops, that does look like a typo on our part, let me check it out more carefully (as there might be a handful of snippets affected by this) and get back to you in the morning!

[2018-02-26 07:05] bboydflo commented on #608
@RCHowell there are still some issues with `>` and `<` from what I can see in the screenshot. Nice work by the way!

[2018-02-26 10:45] Chalarangelo commented on #615
Cannot reproduce neither on mobile or desktop with mobile view in browsers. The icon stays on the top left corner as expected. Can you post screenshots and device information so we can reproduce the issue?

[2018-02-26 12:11] Chalarangelo commented on #612
You were absolutely right, that was some leftover code from elsewhere, it should be all cleaned up now. Thanks for reporting this!

[2018-02-26 12:11] #612 closed

[2018-02-26 16:55] kriadmin commented on #615
https://ufile.io/7iv2e See this screen recording. Sorry but github doesn't support uploading .mp4 files and the late response was due to time differneces.

[2018-02-26 17:26] Chalarangelo commented on #615
That is an old device that does not support `position: sticky`. Normally, I would not bother to change this, but seeing as the header is fixed to the top anyways, this might be worth checking out. Let me see what I can do.

[2018-02-26 21:17] Shenmin-Z commented on #612
Glad could help!

[2018-02-27 10:01] Pl4gue commented on #608
Closing this til further notice.

[2018-03-01 09:52] tangweikun opened #619 "[FEATURE] `dropWhile` can replace of `filter`"
## [FEATURE] `filter` has the same action with `dropWhile`, maybe we don't need `dropWhile` at all
**Category:** Array

[2018-03-01 17:38] Chalarangelo commented on #619
`filter` removes all non-matching values, while `dropWhile` will return a slice of the array right after the passed function returns `true`.

[2018-03-01 17:38] #619 closed

[2018-03-01 19:57] Orangalo opened #620 "[FEATURE] Update isAnagram function"
## [FEATURE] isAnagram function could be done with O(n), by utilising the fundamental theorem of arithmetic
**Category:** String
### Description
The current algorithm for isAnagram uses a `normalize` function, which uses .sort(), whose time complexity is O(n*log(n)).
A more efficient algorithm is as follows:
1. 'Replace' every `a` with `2`, `b` with 3, `c` with 5, `d` with 7, etc. (unique prime nu

[2018-03-01 20:46] Chalarangelo commented on #620
I think that the performance benefit far outweighs the readbility of the snippet. We are already using a regular expression to remove a lot of other things, which is definitely quite slow. Plus, the snippet will only take a long time for strings with characters counts in the hundreds or thousands. I think it's an unnecessary change. However, I would like some opinions on this.
@kingdavidmartins @f

[2018-03-02 10:16] fejes713 commented on #620
Enough said. Every snippet is meant to be understandable in under 30 seconds. We shouldn't touch this.

Thanks for opening an issue anyways! 👍

[2018-03-02 10:17] #620 closed

[2018-03-02 15:41] tangweikun opened #621 "A simple way to `findLastIndex`"
## [FEATURE] A simple way to `findLastIndex`, return `-1` if not find.
**Category:** Array
### Possible Solution
[code]

[2018-03-02 16:05] tangweikun opened #622 "[FEATURE] Refactor `flatten`"
## [FEATURE] Refactor `flatten`
**Category:** Array
### Possible Solution
[code]

[2018-03-02 16:59] Chalarangelo commented on #622
I think this might break for a few cases, let me test this more in-depth tomorrow and see if there's anything missing. @skatcat31 care to check this one out? I might be missing something here either way!

[2018-03-02 17:02] Chalarangelo commented on #621
While shorter, this certainly feels hacky and is not easy to understand. The technique showcased in the original code is far more useful and can come in handy as an introduction to using `Array.prototype` methods. Thanks for the suggestion anyways!

[2018-03-02 17:02] #621 closed

[2018-03-02 21:36] skatcat31 commented on #620
But the archive.....

[2018-03-03 09:05] tangweikun opened #624 "[BUG] `isSorted` miss some test case"
## [BUG] `isSorted` miss some test case
**Category:** Array
### Description
[code]

[2018-03-03 12:18] Chalarangelo commented on #624
- `isSorted([1])` is entirely correct. Single element arrays are technically sorted either way.
- `isSorted([])` is also fine as it is an empty array, so it's sort order is `undefined`.
- `isSorted([2,2,1])` is kind of problematic, though, we should look into it.

[2018-03-03 14:44] tangweikun commented on #624
Is it make sense `isSorted([1])` return `-1`?

[2018-03-03 15:00] tangweikun opened #625 "[FETURE] Refactor `maxN`"
## [FEATURE] `[...arr]` is unnecessary, just use `arr`
**Category:** Array
### Possible Solution
[code]

[2018-03-03 15:15] Chalarangelo commented on #624
`isSorted([1])` would be correct in returning either `1` or `-1` as it sorted both ways technically speaking.

[2018-03-03 15:16] Chalarangelo commented on #625
Please read the snippet description:

Therefore spreading the array is necessary as it creates a shallow clone of it and does not mutate the original array.

[2018-03-03 15:16] #625 closed

[2018-03-03 15:34] tangweikun commented on #624
There is one way to fix the bug, but the code is not elegane
[code]

[2018-03-05 04:46] tangweikun opened #626 "[BUG] `sortedIndex `"
## [BUG] `sortedIndex`
### Expected Snippet Behavior
[code]
### Current Snippet Behavior
[code]

[2018-03-05 05:55] #626 closed

[2018-03-05 17:04] skatcat31 commented on #622
That should work just fine since it's combining the two conditions into a single one. The depth must be greater than 1(checked in current flatten) AND the value is an array is equal to our current functionality and has the added benefit of being safe against negative values and 0(which in current cause deepFlatten)

Ours has a problem in that if it is not exactly equal to 1 AND positive, it become

[2018-03-05 17:06] skatcat31 commented on #622
We should probably decide on if we want to keep it `depth !== 1` and document the deep functionality by providing 0 as a depth and watching it fully flatten a nested array.

[2018-03-06 08:12] Chalarangelo commented on #622
I don't think we want it to default to deep flattening, we already  have a `deepFlatten` snippet for that. If the changes suggested above work properly, please PR them asap and check if all tests work.

[2018-03-06 13:58] Shenmin-Z opened #627 "[question] About curry"
In the description of `curry` function, it says `use recursion`. My understanding of recursion is a function that CALLs itself. Here the `curry` function only returns itself with some binding, not calling itself. So I feel it's not recursion.

[2018-03-06 16:31] elderhsouza commented on #627
I think you're right. It's possible that the description isn't matching with the actual implementation, it had a couple prior versions and if I remember it correctly, it used recursion before.

[2018-03-06 17:56] skatcat31 commented on #627
Recursion in the `Strong Typed Classical Inheritance`(often called OOP, like C++, Java, etc.) is defined as

While recursion is defined generally as

Recursive in the CS world means

So yes, `curry` is recursive. It MUST reference and execute `curry`(recursive) to be able to be executed(recursion).

So in general CS with regards to OOP and all patterns of `Strong/Dynamic Typed Classical/Prototype

[2018-03-06 18:20] Chalarangelo commented on #627
Sorry for being late to the party. When a snippet says `Uses recursion` there is a very specific reason for having that thing mentioned in the description - **snippets that call the defined function by name need to have this comment, so that developers know that they need to remember to rename any references inside the snippet itself if the function is renamed.** Therefore this part of the descrip

[2018-03-06 18:20] #627 closed

[2018-03-06 18:22] Chalarangelo commented on #601
@skatcat31 Any unwanted side-effects that we might be overlooking? This issue has been sitting here quietly for a while, let's deal with it.

[2018-03-06 18:50] skatcat31 commented on #601
This looks like it's a straightforward condensing using ternaries which should be fine. I can't find any code that would cause a side effect beyond what the array methods cause already

[2018-03-06 18:54] Chalarangelo commented on #601
Ok, so I'll just commit it directly and merge it to close this issue.

[2018-03-06 18:54] skatcat31 commented on #601
In fact it can be condensed further by nesting the maxlength logic(we still need a direct reference to the function though)
[code]

[2018-03-06 18:55] skatcat31 commented on #601
The only awkward part comes from the fact that we need the closure for the index position of the sub arrays or we could condense further

[2018-03-06 18:57] Chalarangelo commented on #601
I think your version strikes a great balance between brevity and readability, let's leave it at just that for now.

[2018-03-06 18:58] #601 closed

[2018-03-07 09:29] HowardTangHw opened #629 "Questions about `sortedIndex` and `sortedLastIndex`"
**sortedIndex**
Returns the `lowest` index at which value should be inserted into array in order to maintain its sort order

**sortedLastIndex**
Returns the `highest` index at which value should be inserted into array in order to maintain its sort
order.

but
[code]

Is the answer correct? Or is my understanding of the mistake

[2018-03-07 09:46] Chalarangelo commented on #629
`sortedIndex` is correct. `sortedLastIndex` *should* return the same, but it does not seem to do so. Let me check this out.

[2018-03-08 08:09] HowardTangHw commented on #629
const sortedLastIndex = (arr, n) => {
  const isDescending = arr[0] > arr[arr.length - 1];
  const index = arr.reverse().findIndex(el => (isDescending ? n <= el : n >= el));
  return index === -1 ? 0 : arr.length - index;
};

[2018-03-09 17:38] #622 closed

[2018-03-09 18:23] #624 closed

[2018-03-09 18:24] Chalarangelo commented on #629
I remember distinctly trying to use this exact code and breaking for certain cases, while `-1` did somehow solve problems. I'm quite certain I missed something at some point. I will need some edge cases to test this on, but this will certainly be fixed soon.

[2018-03-12 19:59] #629 closed

[2018-03-12 20:31] #615 closed

[2018-03-12 20:36] #608 closed

[2018-03-16 14:47] sorin-davidoi opened #635 "[BUG] [WEBSITE] Disclaimer about production use"
## [BUG] Warn about blindly copy-pasting some functions due to performance issues
### Expected Snippet Behavior

Some snippets have performance issues that should come with a disclaimer:
 - [deepFlatten](https://30secondsofcode.org/#deepflatten) creates an intermediary array at each recursion step. If the array is large and deeply-nested, this will lead to an increased memory consumption (if it ru

[2018-03-16 16:30] Chalarangelo commented on #635
Literally everywhere on the repository users are warned about the fact that the code is not production-ready and merely a learning resource. Adding this disclaimer to every snippet is kind of pointless, however there might be some more prominent places to display the **not production-ready** notices on the website. I'm closing the issue as the individual snippets are irrelevant to the way we are g

[2018-03-16 16:44] sorin-davidoi commented on #635
My bad, I should have mentioned that I was referring to the website and not the repository.

Thank you.

[2018-03-16 16:48] skatcat31 commented on #635
Should this be closed before the website is updated? I know it's on the schedule you keep @Chalarangelo but it might be a good idea to keep it open until then just as a reminder

[2018-03-17 10:35] #635 closed

[2018-03-22 01:05] timurcatakli opened #638 "BUG-Attempt"
Hi there, about attempt. Shouldn't  return function have the args as a spread. See below please. If so I can make a pr.

Thanks,
[code]

[2018-03-22 18:18] Chalarangelo commented on #638
Indeed it should be `return fn(...args)` instead of `return fn(args)`. Thanks for noticing that! You can submit a PR as soon as you want and we will get right onto it!

[2018-03-23 13:30] #638 closed

[2018-04-01 18:14] fejes713 opened #640 "[FEATURE] Add beginner category"
## [FEATURE] Add beginner category so new developers are welcomed with snippets that are easier to understand.

### Description
We have over 200 snippets on our website. Yes, they're very useful in pretty much every situation! However, when a user visits our site he is welcomed with `ary `, `call`, `collectInto` snippets. They're very informative and useful but beginners won't find them `friendly?

[2018-04-01 19:48] Chalarangelo commented on #640
I agree that we should approach this a bit differently than we have in the past. However, recategorizing the snippets in `beginner` and `advanced` etc is only half a solution. I was actually thinking of a deeper overhaul of the website:

### My suggestion for the website

- Create a clean and lean landing page, so that people can read a short description of the project and what it has to offer. On

[2018-04-02 08:49] CanbingChen opened #641 "I think map is not to be must in initializeArrayWithRange,"
The second param is cb in array.from.It can achieve the purpose  in my opinion.

[2018-04-02 10:50] kriadmin commented on #640
Can we have a voting system which decides snippet of the day? Users can vote for the snippets that helped them. We can even have a login feature for a personalized experience.

[2018-04-02 12:59] Chalarangelo commented on #640
Without any backend, neither of these things is possible, @kriadmin. For the highest exposure of snippets we should use a random rotation and have 4-5 snippets each day, so that users who visit the page multiple times a day or refresh can see a few different snippets. That way it should take about 2 months to run through all of them and they will all be featured at one time or another.

[2018-04-02 13:25] Rob-Rychs commented on #640
maybe a multi-tag system?
In the left hand-menu underneath the search bar it would be nice if there was a grouping of three buttons that switched the order/categorization of the snippets
1. difficulty (default) -> rearranges snippets by alphabetic categorized under Beginner / intermediate / advanced
2. category -> rearranges snippets into current categories
3. a-z -> rearrange the snippets alphabe

[2018-04-02 14:00] fejes713 commented on #640
@Chalarangelo @kriadmin That would definitely require a backend which is not urgent right now. Something similar was suggested in __30 seconds of CSS__ and we delayed the idea a bit.

Right now I think the best solution is what @Chalarangelo suggested. We should discuss the details on `Gitter` these days. I am free for few days; @Chalarangelo when do you want us to start this? Tomorrow?

[2018-04-02 16:57] flxwu commented on #640
I also agree with @Chalarangelo 's ideas.

[2018-04-04 17:08] Chalarangelo commented on #641
Hi, thanks for bringing this to our attention. However, there was a discussion about array initialization some time ago and we decided we should stick with our current method for all snippets.

[2018-04-04 17:08] #641 closed

[2018-04-04 17:12] Chalarangelo commented on #640
Hey, everyone. I am going to be available starting Friday up to Monday, so we can start implementing these changes and give the website a facelift. I am going to play around with the design of the landing page until Friday, so we have a basis to start from, then we can move on to the rest of the scripting and tools. I believe this is a procedure that will take just a couple of days, so we can all

[2018-04-04 18:01] fejes713 commented on #640
@Chalarangelo be sure to reach out to me on Friday. I would like to help.

[2018-04-06 22:14] skatcat31 commented on #640
I think we should probably update archived snippets then as Academic. At that point we can go into heavier detail about EXISTING concepts and unroll some snippets for longer discussion and have it be more of a "learn for the sake of learning" section than the snippets, which are "cool tricks and fast tips".

After all that'd be a great place to put in something like a server side event channel sys

[2018-04-07 08:45] fejes713 commented on #640
@skatcat31 I would love to see that. Few principles that take more than 30 seconds to understand but are used in modern workflows.

[2018-04-07 08:51] Chalarangelo commented on #640
For clarity and transparency, here's the list of beginner snippets that we will be featuring in the beginner page:

- everyNth
- filterNonUnique
- last
- maxN
- minN
- nthElement
- sample
- similarity
- tail
- currentURL
- hasClass
- getMeridiemSuffixOfInteger
- factorial
- fibonacci
- gcd
- isDivisible
- isEven
- isPrime
- lcm
- randomIntegerInRange
- sum
- reverseString
- truncateString

Special

[2018-04-07 11:30] fejes713 commented on #640
@Chalarangelo List could be improved, it requires nearly no effort to update it with the newest `web.js` script.

[2018-04-07 13:11] Chalarangelo commented on #640
@fejes713 Yep, we could alter the list of beginner snippets anytime. The fact that it can be customized with nearly no effort is a big advantage, as beginners looking to make their first PR could actually tell us which snippets they find most useful. 😉

[2018-04-07 16:49] NguoiThuaKe commented on #615
Nguoithuake.1905@github.com

[2018-04-07 17:34] Chalarangelo commented on #640
Resolved in #642

[2018-04-07 17:34] #640 closed

[2018-04-08 04:48] skatcat31 opened #643 "[BUG] Bifricate breaks the standard filter footprint"
### Description
Filter has a footprint in JS of `(value, index, array) => a, thisArg` which is fairly easily implimented for Bifricate to stay the same.

## [BUG] Bifricate has a confusing footprint that is not compatible with other filter functions users in JS
### Expected Snippet Behavior
Filter function accepts 3 arguments. Filter can realistically take a this arg too, but I'm not sure how well

[2018-04-08 04:49] skatcat31 commented on #643
submitting this until I get a chance to do a pull request. This is a good simple pull request for anyone who wants too.

[code]

[2018-04-08 04:49] #643 closed

[2018-04-08 04:49] skatcat31 commented on #643
misread the snippet entirely. Ignroe

[2018-04-10 22:17] skatcat31 opened #647 "[GUIDELINES] Order of Decleration Change to Contribution Guidelines"
Since this isn't something that even fits into our usual Snippet Issue Format since it's a proposed change poll to the Guidelines on Snippet Structure and Deceleration Order for function footprints, I'm going to just write out the current notices and propose a few solutions to look into:

# Current Snippets Declaration Order is Not Consistent
We have several snippets that all implement different t

[2018-04-12 04:58] Chalarangelo commented on #647
The more sensible thing seems like `LDF`. Libraries come first (which is what happens in most of our snippets anyways), data afterwards and functions/callbacks last. The issue with that is the need for an adapter of which we have plenty (and this is also a good way to introduce people to them). I also think there should be some space to add exceptions to the rules if they are well-justified, altho

[2018-04-12 16:52] skatcat31 commented on #647
`LDF` or `DLF` seem like the most readable, I agree. An with how easy closures are to change order, it would make it just that easy to adapt by making a `middleMan` function(s)(an adapter for a specific use case meant to be used with your libraries specific design patterns to adhere to other library design patterns on execution)

[2018-04-12 18:44] Chalarangelo commented on #647
@skatcat31 Regardless of the final decision, `middleMan` sounds like a cool adapter. We could use the implementation if you have the time! 😉

[2018-04-13 16:35] skatcat31 commented on #647
`middleMan` is a class of adapter

`middleManRamda` would be one:

[code]

[2018-04-25 11:54] emelendez opened #654 "[FEATURE] castArray for null and undefined => []"
## [FEATURE] castArray for null and undefined => []
**Category:** new feature for "castArray"
### Suggestion
instead of:
`const castArray = val => (Array.isArray(val) ? val : [val]);`
more complete:
`const castArray = val => Array.isArray(val) ? val : val == null ? [] : [val];  `

examples:
[code]
so includes case of "null" or undefined values which results in an empty array. Also no need of paren

[2018-05-02 03:00] rannuo opened #658 "[BUG] Object deepClone has a bug when property is an array"
## [BUG] Object deepClone has a bug when property is an array
### Expected Snippet Behavior
[code]

### Current Snippet Behavior
[code]

### Possible Solution
add Array.isArray and to clone array

[2018-05-04 17:39] skatcat31 commented on #654
I'm closing this issue since we want to preserve comparison code and empty array indexes as expected and due to lack of activity

[2018-05-04 17:39] #654 closed

[2018-05-04 17:42] skatcat31 commented on #658
Confirmed behavior. If you'd like to author a fix to the snippet a pull request is welcome.

All that would need to be changed is to add a check if the "object" is an Array using `Array.isArray` and if so have different handling logic( Array.from(deepClone(object)) or the like)

[2018-05-04 17:46] skatcat31 commented on #647
Updated the subject. If this doesn't get any more votes or comments in the next couple of days on Sunday I'll open a larger issue after doing a PR for updating the guidelines. Current choice is going to be `DLF` for simple adaption to `Data Last` footprint using `flip`

[2018-05-04 18:01] mariastervic commented on #647
I would go with *LDF*. It's definetely the most readable format.

[2018-05-04 18:03] Chalarangelo commented on #647
@skatcat31 Having intimate knowledge of our codebase so far, what would be the format the requires the least amount of changes to snippets? I'm asking as this change could affect a lot of people that visit the website and repo, so we have to consider these implications as well.

[2018-05-04 18:05] skatcat31 commented on #647
@Chalarangelo ooh that's a good point... We'll have to do an analysis...

@mariastervic care to clarify a bit more? As I look at the two I don't care too much either way but I'm curious why people consider one more readable than the other(I only was defaulting to `DLF` for extension purposes)

[2018-05-04 18:14] Chalarangelo commented on #647
I think without a statistical analysis of our codebase, we cannot really proceed to make any changes. We could analyze which snippets have been altered multiple times moving from one format to the other, but 300+ snippets and 650ish issues are quite a tall order, so let's not do all of that and just stick to what kind of format we are using so far.

[2018-05-04 20:12] skatcat31 commented on #647
@Chalarangelo I think it still might be useful to add to the GuideLines for snippets coming in and we can possibly look at making a modification to the package generator to create adapted snippets while building under a `${snippetName}LDF` name so that we don't break legacy and give people a compatible interface with documentation so that in the future it doesn't become a problem

[2018-05-09 16:01] skatcat31 commented on #647
plus it'd give us a depreciation and sunset plan, allowing people to use an older version if they don't need newer features of the package, and eventually coming to a consistent footprint. If done correctly it should lead to extremely little breacking

[2018-05-09 21:57] skatcat31 commented on #658
I feel like this should be mentioned: Array.from will work as long as a length property is put into the Object(doable by checking if `Array.isArray(obj) ? (clone.length = obj.length) && Array.from(obj)` on the returned value

[2018-05-11 09:45] #658 closed

[2018-05-14 01:25] xiangwenhu opened #665 "deepClone don't clone Array correctly"
current deepClone code:
[code]
**var b = deepClone([1,2,3]) // []**

aftered change Array.from(clone)  to Array.from((clone.length = obj.length, clone))
[code]
var b = deepClone([1,2,3]) // [1,2,3]
var obj1 = {a:1}, obj2 = {a:2}
var oo1 = {a1:1, arr1:[{b1:obj1},1]}, oo2 = {a2:2, arr2:[{b2:obj2},2]}
var cloned = deepClone([oo1,oo2])   // [{…}, {…}]
cloned[0].arr1[0] == obj1  // false

[2018-05-14 01:44] atomiks commented on #665
The code is a little strangely imperative with the `forEach` loop mutating the outer `clone` variable, I think we can do this:

[code]

[2018-05-14 06:06] skatcat31 commented on #665
ther was a misread then I thought it had the `Array.from((clone.length = obj.length) && clone)` in it

[2018-05-14 06:13] skatcat31 commented on #665
@atomiks the performance profile here matters. With large enough objects your version can lead to a recursive stack overflow due to unless V8 has gotten a really good update to tailcall stack re use

[2018-05-15 00:29] atomiks commented on #665
@skatcat31 can you expand on that? Wouldn't there need to be like 10,000+ levels deep of nested objects? I think if you have that structure then there are other problems

[2018-05-15 01:38] skatcat31 commented on #665
If we go purely by that standard... no. Yours might actually break in as little as a few hundred actually. Yours involves MANY extra steps because of the spread operator, meaning it actually compounds in a vertical(depth) and horizontal(number of keys) number of magnitude. Spread, while nice and helpful(and fairly fast), is not exactly friendly for recursive functions at the moment. In the future

[2018-05-15 01:40] skatcat31 commented on #665
granted that's not to say I don't appreciate your version. It is fairly elegant in it's own way.

[2018-05-15 02:10] atomiks commented on #665
What about this?

[code]

[2018-05-15 15:03] skatcat31 commented on #665
much better and a perfectly acceptable replacement

[2018-05-15 15:05] skatcat31 commented on #665
If you want to open a pull request with that behavior after confirming it works then I'll happily close mine

[2018-05-15 18:51] Chalarangelo commented on #665
I am going to merge the PR we already have, #666 (which has a very ominous number btw), and @atomiks feel free to open another one with your version, when you have the time. You should take credit for it! 😉

[2018-05-17 00:28] scottmathson opened #668 "SEO: page meta descriptions for organic SERPs"
Let me know if interested in having me work on the pages in `docs` and writing up optimized meta descriptions for search engine discoverability.

Let me know!

[2018-05-17 05:34] Chalarangelo commented on #668
Could you please elaborate with some examples? I'd like to know more about the topic anyways.

[2018-05-26 10:35] atomiks opened #670 "Initializing an array of length `n`"
Currently we use

[code]

That's kind of verbose and a bit weird. I think we replaced `Array(n).fill()` with that, but there is also:

[code]

Which are nicer, I think.

In Chrome, the spread one is by far the fastest (10,000 iterations):

[code]

It appears that using the second argument of `Array.from()` as the map instead of chaining `.map` offers almost no benefits in performance

[2018-05-26 10:51] Chalarangelo commented on #670
I think we had a performance comparison and decided that Chrome is optimized for spread, but it's extremely slow on anything else.

In the same discussion, I think we decided to go with `{ length: n}` for some reason, which I cannot remember. I definitely prefer it to `Array(n).fill()` and `Array(n).from(Array(n))`, but I'm not the only one with an opinion here, so let's vote on this (or someone c

[2018-05-26 10:58] atomiks commented on #670
I just tested Firefox (latest, mac) and spread is also faster. Not 2x like Chrome is but around 1.2x

[2018-05-31 07:21] Chalarangelo opened #673 "[FEATURE] Experimental/Unstable/Low-support Browser API snippets"
I was thinking about adding a few snippets for Browser APIs that are not well-supported or are a bit experimental. Ideas include but are not limited to:

- Ambient Light
- Offline state
- Vibration (maybe)
- Device orientation

The question here is if we should make a new category or just tag them properly and add an emoji to all of them. I am leaning towards tags and emoji.

*If you are wondering

[2018-05-31 17:59] skatcat31 commented on #673
We should tag them and label them as experimental(if this is an emoji them that's fine) like you suggested. It makes easy low hanging branches of (removing experimental flags)/(keeping current) when they get updated, released, or finalized

[2018-05-31 18:06] Chalarangelo commented on #673
So we can tag but without making a new category. Tags will help us find them when we need to, right? Experimental emoji should be a test tube like ⚗️(was looking for something better, but I couldn't find one).

[2018-05-31 18:13] skatcat31 commented on #673
⚡️, 📦, ⚙️, 🔨, ❌ are my votes for possible besides the beaker. I like the `:package:` myself

[2018-06-06 04:49] sohelamin opened #681 "30 seconds of php code"
Hi,
Your project has inspired me a lot to create the same thing in PHP.
So here I did https://github.com/appzcoder/30-seconds-of-php-code
Would you please add this project link to your repo?

[2018-06-09 11:00] Chalarangelo commented on #681
Hey @sohelamin. The core team behind **30 seconds of code** actively supports only projects that meet our code and explanation quality criteria. I will personally check your project and see if it's high quality enough to be endorsed in our README and website.

Another thing you should know is that the projects we support as a team need to have at least one of our team members added as a collaborat

[2018-06-10 07:17] sohelamin commented on #681
Hi @Chalarangelo thanks for your attention. Please do check my project though I'm still adding the gems on it.

And let me know how can I get involved with you.
Thanks

[2018-06-19 05:48] pmw57 opened #683 "[BUG] "Not production ready" impacts users"
Currently with "WARNING: Snippets are not production ready." people are tempted to look at the code, are discouraged from looking at any of the code, for fear that the snippets aren't going to be useful.

I personally ignored this project because of that warning, and only on being reminded about it did I stop to think about why I was ignoring it.

I recommend that the project-wide warning be remov

[2018-06-19 06:16] Chalarangelo commented on #683
Thanks for the suggestion. Many of the snippets are not really production-ready, meaning there are edge-cases and performance issues with them, if users want to do something that we may not have foreseen. This is in contrast with a library like Lodash, which has been built and bundled for production.

However, the criticism that the warning might discourage users is a valid one. I already migrated

[2018-06-23 07:59] Chalarangelo commented on #670
I just run a [JSPerf](https://jsperf.com/670-initializing-an-array-of-length-n) to check performance across multiple browsers. Here are my results on Windows 10:

### Chrome
<img width="726" alt="chrome" src="https://user-images.githubusercontent.com/8281875/41807176-66a38938-76d3-11e8-9f39-a20f018b9465.PNG">

### Edge
<img width="728" alt="edge" src="https://user-images.githubusercontent.com/8281

[2018-06-23 08:00] Chalarangelo commented on #668
Closing due to inactivity...

[2018-06-23 08:00] #668 closed

[2018-06-23 08:01] Chalarangelo commented on #647
I'm gonna close due to inactivity and the discussion being inconclusive. After all, this would require extensive refactoring and changing tests etc., so we might as well skip it for a while, until we figure out some other stuff first.

[2018-06-23 08:01] #647 closed

[2018-06-24 08:39] skatcat31 commented on #670
[To be honest all of these are fairly slow](https://jsperf.com/array-with-push-instead-of-map/1)

![image](https://user-images.githubusercontent.com/13894696/41817264-6bf7b1ba-774c-11e8-8949-d8934f584de8.png)

The problem with all of the methods is that they all require the creation and deletion of internal memory addresses for every operation.

If you don't know your array size or needed array si

[2018-06-24 17:41] Chalarangelo commented on #670
@skatcat31 I really like the way you put this, that a good program should read like a story. I think we can stick with what we have as it doesn't have a huge impact in performance, is easy to read, doesn't harm compatibility etc. I'm closing for now, if spread somehow becomes faster over time across browsers, we can revisit this and see how we feel.

[2018-06-24 17:41] #670 closed

[2018-06-27 18:23] Chalarangelo opened #686 "[FEATURE] JSONToCSV snippet"
I recently added a few snippet for converting from and to CSV (`arrayToCSV`, `CSVToArray`, `CSVToJSON`). The last one I am interested in adding is a `JSONToCSV` which would be the reverse of `CSVToJSON`. Here's an example of what it would convert into what:

JSON array:
[code]
Produces the following CSV:
[code]

The code I whipped up looks something like this:
[code]

But the issue with it is that

[2018-06-27 19:22] skatcat31 commented on #686
So one of the things about JSON to CSV is that you're going to want to decide in the front how you will handle columns:

 - Keyed hash reference of column number as keys are met to be put into a final array for joining
 - ONLY as many columns as the first object and assume homogeneous objects
 - Array of keys to extract

Once you've decided on that it should be pretty obvious how to go about it af

[2018-06-27 19:38] Chalarangelo commented on #686
- Non homogenous would cover more edge-cases and allow for more flexibility (arguably at the cost of performance).
- Array of keys to extract sounds like a decent balancing point that didn't cross my mind as I was writing this originally. It's also like a more elegant take on the *ONLY as many columns as the first object*, so I like it a lot.

Both of these approaches have their merits, but I'm no

[2018-06-27 19:47] skatcat31 commented on #686
This may be better to decide on the simplest one and link to the much more advanced once or an article on the approaches?

[2018-06-27 19:58] Chalarangelo commented on #686
Array of keys to extract sounds the best to me. It strikes a balance between understandable and flexible, while it helps us circumvent some issues that could arise from other approaches. An article on the other methods sounds like a lot of fun to write, I might do that over the weekend!

(Although I'm very fond of this approach, this discussion is still open, feel free to add your opinions below @

[2018-06-28 05:48] skatcat31 commented on #686
The good news is the footprint is EXTREMELY adaptable since it's FP footprint would be
`(columns, delim, data) => String` which makes it pretty easy to figure out

[2018-07-05 17:22] skatcat31 commented on #686
Odd for some reason this code doesn't work correctly. It prepends a delim AFTER the first line

[code]

[2018-07-06 17:38] #683 closed

[2018-07-06 17:39] Chalarangelo commented on #683
**Update:** After a lot of testing and some evaluation of the code, I believe we can change the site-wide disclaimer into more of a note that some snippets are not yet optimized for production. Disclaimers for individual snippets are still there and we might add a few more over time to address more issues that we uncover, but I think this issue is not gonna bother anyone anymore.

[2018-07-16 18:44] Chalarangelo opened #690 "[MAJOR FEATURE] Glossary"
To enhance the website and repository and provide more value to newcomers that might be unfamiliar with JS, programming, web development or simply some terminology, we will be launching a glossary of JS,programming and webdev terms on a separate page and file. Here's the list of things we need to do before we launch this feature, as well as an incomplete list of terms we should document:

## The c

[2018-07-16 18:50] Chalarangelo commented on #690
Btw, my list is extremely unorganized, use Ctrl+F to find and mark each item.

[2018-07-17 00:38] skatcat31 commented on #690
Would like to add `Element(JS)` as a disambiguation so that people might learn about creating `Element`s programatically

[2018-07-17 00:45] skatcat31 commented on #690
So optional examples, and external links... how should we go about this?

[2018-07-17 04:57] Chalarangelo commented on #690
Let's do JS for now and keep it simple, more like a cheatsheet for people not familiar with some terminology and jargon in the industry. Examples are not something I'd consider integral for now, but links to external resources such as MDN sound like s good substitute for people who would like to read some more on each topic.

[2018-07-17 08:58] fejes713 commented on #690
#692 - Check if they're okay before merging. They include XSS, DOM, Promise, Recursion and Functional programming.

[2018-07-17 18:10] Chalarangelo commented on #690
Merged both PRs by @fejes713 and @skatcat31 and marked the necessary checkboxes. I'll probably contribute a term or two today, as well. We seem to be moving forward at a decent pace already, this should not take too long until we have a reasonable amount of glossary terms in our little glossary. Keep up the good work, guys!

[2018-07-18 09:33] fejes713 commented on #690
#693 - Another one ready to merge.

TODO:
- fill necessary checkboxes in this issue once changes from my PR are merged.
- rethink the name for pass by value versus reference
- rethink if `http` and `https` should be under the same definition

[2018-07-18 17:01] Chalarangelo commented on #690
Merged another one, checkboxes have been filled. Naming for both terms is a bit funky but we will figure it all out right before launching the glossary, as we will recheck everything and consider the issues we have.

[2018-07-18 18:45] skatcat31 commented on #690
I'm curious if we should go ahead with that merge request or do another glossary note about the automatic instancing of literals?

[2018-07-18 19:11] Chalarangelo commented on #690
We will inevitably end up with a backlog of PRs that we have questions about, I'll mark then as `on hold` to merge them all in the end. As more questions arise and we discuss them further, we will reach some general guidelines for what to add where and how to phrase it. It's like the good old days of when the project was about a week old and guidelines were changing rapidly, only this time we know

[2018-07-18 19:46] skatcat31 commented on #690
projects are fun like that

[2018-07-25 09:48] flxwu commented on #690
@Chalarangelo what should the README look like?

[2018-07-25 12:15] Chalarangelo commented on #690
@flxwu Yep, a simpler version of the main README I suspect.

[2018-07-26 08:58] flxwu commented on #690
Do we want a script to generate the keyword_database? @Chalarangelo

[2018-07-26 11:04] Chalarangelo commented on #690
@flxwu My opinion or how I envisioned it anyways:
- `library.js` called `librarian` in `package.json` that creates a `README.md` in the `/glossary` folder similar to our main README only simpler
- `keyword.js` called `keymaker` in `package.json` that creates a `keyword_database` in the `/glossary` folder similar to our tag database only simpler.

I'm not set on the names, but they sound rather fun

[2018-07-26 12:46] flxwu commented on #690
👍 then I'd take over writing the keyword script as well!

[2018-07-26 15:50] skatcat31 commented on #690
I'd have called them `dewey` for librarian and `houdini` for keymaker but that's just me being a dork.

[2018-08-02 16:20] Berkmann18 opened #700 "[FEATURE] Arrray wide equality snippet"
## [FEATURE] _All equal check on values of an array_
**Category:** Array
### Description

Would an allEqual function that would check if all the values of an array are equal be worth putting on this repo?
I found this example [here](https://stackoverflow.com/a/35568895/5893085):
[code]
And I couldn't find anything that would do the same job on the list of this repo.

[2018-08-02 19:47] Chalarangelo commented on #700
This seems like an adequate beginner snippet, so why not? You can submit a PR adding the snippet to the project.

[2018-08-02 20:38] Berkmann18 commented on #700
Okay, will do.

[2018-08-02 21:11] Berkmann18 commented on #700
Done.
Am I correct in assuming that the docs are automatically generated?

[2018-08-06 08:42] #700 closed

[2018-08-13 15:14] Bruce-Feldman opened #715 "[REQUEST] Change name of isArrayLike"
## [REQUEST] Change isArrayLike name
**Category:** Request
### Description

isArrayLike does not clearly describle its purpose.  Its own description has to clarify what isArrayLike means:
`[isArrayLike]: "Checks if the provided argument is array-like (i.e. is iterable). `
 This description itself recommends a different name - isIterable.

### Current Snippet Behavior

isArrayLike(iterable) === tru

[2018-08-13 17:15] skatcat31 commented on #715
This would require changes to the library generation and may be breaking. There are two paths forward with that:
1. Release tag and transition notifications
2. Shim and rename

For compatibility shim and rename would be best.

As for my opinion on the title:

`isArrayLike` needs an updated description if nothing else. It should just say

As for the name it should be noted that this is common in ot

[2018-08-13 17:29] Chalarangelo commented on #715
`isArrayLike` is definitely more approachable to most programmers than `isIterable` as people look for things that behave like arrays, not things that are iterable. In a perfect world, `isIterable` would feel a lot more intuitive. This is not a perfect world.

[2018-08-13 17:29] #715 closed

[2018-08-13 18:15] Bruce-Feldman commented on #715
@Chalarangelo Sounds reasonable to me.  Thanks to both of you for taking the time.

[2018-08-27 17:34] Chalarangelo opened #722 "[FEATURE] Integration for VS Code"
As the codebase has grown a lot, I think it's time for a major addition to our repository - **a file to add our snippets to VS code**. This should be built daily and include everything in the normal list (no archive).

### Why
I've found myself using some of our snippets a lot. And I am thinking about transitioning to VS Code, so this sounds like one of the things that I would definitely use in my

[2018-08-27 17:40] skatcat31 commented on #722
If it's a package with JSDoc documentation(which IIRC can support markdown), VS Code will pull it in. It may be worth it to put the documentation in there so that VS Code can show it when it crawls the package

[2018-08-27 18:26] Chalarangelo commented on #722
@skatcat31 The idea I was trying to sell here was to allow people to use the snippets without the `npm` package - essentially copy paste their code for them without including the 30 seconds package. I am not really sure what you mean, please elaborate a bit.

[2018-09-01 10:10] Chalarangelo opened #728 "[TESTS] Add unit tests for deepFreeze"
As a follow-up to #721, we should add some unit tests for `deepFreeze`. I went ahead and merged the PR, as the snippet definitely works, but we need to add a few tests to ensure its quality in the future.

[2018-09-01 10:36] Chalarangelo commented on #690
**Dynamic programming** will not be initially implemented, it's an algorithmic technique, it needs a little bit of theory to make sense and is not that extremely important to a beginner. Marking it as complete for now.

[2018-09-01 11:29] Chalarangelo commented on #690
`this`, `bind`, `__proto__`, `prototype` will not be documented right now. We could work on keywords later down the line as a *Phase 2* of the Glossary or let MDN explain them like it always has. Terms like these might also need longer explanations, which is not exactly what I was aiming for originally, as I wanted the glossary to be a quick lookup guide for beginners and people who seem to not kn

[2018-09-01 12:35] Chalarangelo commented on #690
Also checking MariaDB as we would have to add terms for MySQL, PostgreSQL and SQL Server, too. MongoDB can stay just because it comes up too often to ignore.

[2018-09-01 12:47] Chalarangelo opened #730 "[META] Update Issue and PR templates"
After the initial phase of 30s where we had tons of people submitting PRs and opening issues, I think that the community has more of a reference point for interacting with the code and repo in general. The templates we made back then for issues and PRs are starting to feel cumbersome and a bit unnecessary. I think we should revamp them. What do you guys think? How can we simplify the templates to

[2018-09-02 01:16] skatcat31 commented on #730
Are we allowed to have multiple templates like GL can?

[2018-09-02 17:17] Chalarangelo commented on #730
@skatcat31 not sure, never tried it, I'll look it up and see if and how this is possible.

[2018-09-02 19:29] Chalarangelo commented on #690
## Update

As it currently stands, we have a sizeable list of terms ready for the glossary. The keymaker script could use a bit of work and we should make the glossary web script sooner or later. I'm planning to revamp the website, so I will work on the glossary web page and the tooltip idea. I'm also planning to write an article about the glossary and an intro to the JS ecosystem eventually, so w

[2018-09-06 20:11] Chalarangelo opened #735 "Website v3 (or the Material Redesign)"
Hey everyone!

Some of you might have noticed me pushing to the [material-web](https://github.com/Chalarangelo/30-seconds-of-code/tree/material-web) branch lately. And you might be wondering why. Well, here's the short version:

So, I am basing the new design off of [Material Design](https://material.io) and trying to add a bit of character to it, while keeping some of the personality the website

[2018-09-06 22:02] atomiks commented on #735
🖌 🎨 👨‍🎨

[2018-09-07 16:13] devAxeon opened #737 "[FEATURE] How about a 30 seconds of git ?"
Everything is in the title ;)

[2018-09-07 16:27] Chalarangelo commented on #737
Hey there! I hope I'm speaking for everyone on the team when I say that we are constantly considering new ideas, but we have very limited time.

**git** has not been discussed in depth but, like SQL or some other projects, might be a bit esoteric or need to be clarified with examples for people to really understand advanced use-cases. We are open to discussing potential 30 seconds projects and/or

[2018-09-08 10:46] Chalarangelo commented on #735
### Update

Things are looking good - most of the redesign is already complete, pages are generating nicely on the branch I am working on. There's a little bit left over, along with a couple of additional changes coming:

- I need to build the **About** page from the stuff we had before. It's not gonna be terribly fancy, but it should work.
- I need to build the **Contribution Guidelines** page. A

[2018-09-08 12:15] mariastervic commented on #735
Cool design and very interesting approach in removing pages and content that is not all that relevant. I feel like you should check the snippet list again, pick some more `beginner` snippets, so that the tag for those is a bit more accurate.

[2018-09-08 14:36] Chalarangelo commented on #690
After merging #738, the glossary is live here: https://30secondsofcode.org/glossary

[2018-09-08 14:36] #690 closed

[2018-09-09 07:13] fejes713 commented on #690
Fantastic! @Chalarangelo

Maybe we should add some kind of search here as well?

[2018-09-09 07:34] Chalarangelo commented on #690
Search and menus are coming to the glossary eventually, I want to revamp the whole sidebar to include static pages and settings, so I'll probably open an issue for brainstorming soon.

[2018-09-09 08:59] fejes713 commented on #690
Seems like a fantastic idea for static pages! 👍

[2018-09-10 20:37] Chalarangelo opened #739 "[FEATURE] 30 seconds of code - React snippets"
After some internal discussion and the idea floating around for a bit, I think we should go ahead and brainstorm a bit about adding **React snippets** in the repository, as a separate page, folder etc.

The idea is to provide a basic cheatsheet for React, much like the base repository, except this will be a sub-project (as it is part of the JS ecosystem and we are probably not going to have snippe

[2018-09-10 21:38] flxwu opened #740 "30-seconds-of-code is searching for Maintainers!"
*This issue was created by [Maintainers Wanted](https://maintainerswanted.com)* :nerd_face:

*Support us by leaving a star on [Github](https://github.com/flxwu/maintainerswanted.com)!* :star2:

## 30-seconds-of-code is searching for new Maintainers! :man_technologist: :mailbox_with_mail:

Do you use 30-seconds-of-code personally or at work and would like this project to be further developed and im

[2018-09-11 05:31] skatcat31 commented on #739
You should add Modals as they're extremely helpful to have a dynamic modal that closes on click away from the child

[2018-09-11 05:46] flxwu commented on #740
yeah that was for testing purposes 😅@Chalarangelo

[2018-09-14 08:31] Siarhei-Zharnasek commented on #728
@Chalarangelo @skatcat31
https://github.com/Chalarangelo/30-seconds-of-code/pull/742 will resolve this issue

[2018-09-15 09:31] #728 closed

[2018-09-18 13:56] ShawnToubeau commented on #739
Hello! Hope you don't mind me adding to this list :)

- Spread notation / [SO](https://stackoverflow.com/questions/31048953/what-do-these-three-dots-in-react-do)
- Controlled vs uncontrolled input / [SO](https://stackoverflow.com/questions/37427508/react-changing-an-uncontrolled-input)

Noticed a handful of posts asking about React-Router, would that be something you would want to focus on as well

[2018-09-18 15:45] skatcat31 commented on #739
Spread notation is something that's well documented and used in few places, but has definate hlepful places(styles are a big one), and controlled versus uncontrolled input is a huge contention point in React, so it'd be smart to touch base on it. It's something I don't really think about myself since the coding guidelines I implemented enforced controlled at my last job(considered a best practice

[2018-09-18 15:46] skatcat31 commented on #739
As for organization I think a separate folder or project would be best here. Also to note about Modal is that there are full screen modals based on events, and middle man modals based on parent container. Both would be helpful since I've found more pages struggling with modals.

[2018-09-19 12:43] AlekseyPn opened #745 "[BUG] Navigation by menu"
### Expected
When I click to the menu item, I expected that I scroll to into selected item in the section.

### Current
When I click by the item I go to in the section of the item. I will need one more time open menu, find needed item, and select him or scroll manually to him

Is it bug or feature? :)

Sorry if I made a mistake, I do not speak English well

[2018-09-19 15:01] Chalarangelo commented on #745
It's a bug that only appears in Chrome, we are already aware of it and trying to figure out how to fix it.

[2018-09-22 17:38] sohelamin commented on #681
Thanks a lot 👍

[2018-09-23 09:17] dimabory opened #747 "[FEATURE] Random snippet of the day"
I'd like to return random snippets feature to the site.

Why it was deleted?

[2018-09-23 09:29] Chalarangelo commented on #747
Maybe we could dedicate a page to this, but without the annoying carousel and all the issues we previously had with that.

[2018-09-23 09:30] flxwu commented on #747
We could also launch a newsletter?

[2018-09-23 09:32] dimabory commented on #747
I also thought about the separate page for this. But anyway a newsletter is a good idea too.

[2018-09-23 09:35] flxwu commented on #747
We could launch a separate newsletter on PH to boost the 30secs projects, kind of what I thought of doing on twitter but latter currently won't work till they approve my developer account @Charlangelo

On Sep 23 2018, at 11:32 am, Dmytro Borysovskyi <notifications@github.com> wrote:

[2018-09-24 16:12] skatcat31 commented on #747
I'm a little confused on how we'd get enough material unless we wanted to start targeting or writing articles or small thoughts(which get tricky and would likely need to be stockpiled before first publication for editing and accuracy). I'm all for it TBH, but it is a bit of logistics to be able to say we're doing things right

[2018-09-24 19:44] Chalarangelo commented on #730
@skatcat31 Apparently we can have multiple Issue templates, check my last PR for a suggestion.

[2018-09-25 17:41] Chalarangelo commented on #739
**Update**: Having tested subdomain support on Github pages, I have to report we *need* to move React snippets into their own repo, as it's the only feasible way to host them under `react.30secondsofcode.org`. Probably a good idea, too, as it will help with separation of concerns. Only issue there is that star count will not be shared, but that's probably alright.

In light of this, I think we sho

[2018-09-25 19:38] Chalarangelo commented on #730
Issues have been updated, PRs as well. Multiple issue templates help users navigate to a specific issue type and provide the important info without having to shift throught a lot of stuff, which I am particularly fond of.

[2018-09-25 19:38] #730 closed

[2018-09-27 15:48] fejes713 commented on #745
@Chalarangelo any plans on how're we going to fix this? I experienced the same bug on Firefox Dev edition today.

When I search for eg. truncate and select it, it does scroll to it but scrolls like 300px down as well so the title and half of the snippet card are not shown.

[2018-09-27 15:51] fejes713 commented on #739
Better idea to me honestly.

30code should stay 30code and provide snippets for vanilla JS only.

30react is a great idea, for the very start, I don't think we need a lot of snippets. Let's keep the focus on quality. If you're up to, we can develop under private repo and then make it public (for the big reveal 💯)

[2018-09-27 15:57] Chalarangelo commented on #739
@fejes713 We can't do private repo on org without paying, plus I wanted this to be a good starting point for Hacktoberfest participation, I will make a new repo and see if I can migrate the issue over to it.

[2018-09-27 16:00] Chalarangelo commented on #745
The scroll discrepancy is standard on many browsers and websites. This can be fixed with some HTML trickery, not that big of an issue. The non-scrolling issue when switching pages is a bit of a pain, but I am planning to rebuild the web script from the ground up soon, so we have a better reference point for issues like this.

[2018-09-27 16:17] fejes713 commented on #739
Idea was to make it under user private repo, but as you said Hacktoberfest is here very soon, so we should give people opportunity to make something great!

[2018-09-27 16:18] Chalarangelo commented on #739
This issue was moved to 30-seconds/30-seconds-of-react#1

[2018-09-27 16:18] #739 closed

[2018-09-28 03:40] meetzaveri commented on #747
Or a twitter bot ?

[2018-09-28 04:45] Chalarangelo commented on #747
@meetzaveri I think @flxwu is up to something on Twitter... We'll probably find out soon enough.

[2018-09-28 04:52] meetzaveri commented on #747
Okay, good to know.

[2018-09-28 05:27] dimabory commented on #747
Btw, I can help with Telegram bot.

On Fri, Sep 28, 2018, 7:53 AM Meet Zaveri <notifications@github.com> wrote:

[2018-09-28 05:57] flxwu commented on #747
Yes, I am working on the Twitter Bot.

[2018-09-28 05:59] flxwu commented on #747
Closing this for now, as the @30-seconds/core team decided not to launch a separate newsletter. We'll instead launch a Twitter Bot somewhen soon.

[2018-09-28 05:59] #747 closed

[2018-09-28 08:08] gillesdami opened #754 "isString return false for object strings"
## Bug description

"Checks if the given argument is a string."
isString(new String("hi"));

## Why it should be fixed

Using the String constructor is a bad practice, but it's still legit javascript so this case should be properly handled. If you don't want to handle this case, you should probably make it more clear by naming the function isStringPrimitive or making it clear in the first sentence

[2018-09-28 08:18] Chalarangelo commented on #754
I'm not against this honestly, but there might have been a reason why we implemented this in the first place. I'm labelling `discussion` to see if anyone else remembers why we did this that way.

[2018-09-28 13:27] fejes713 commented on #747
We're present on Instagram and Facebook as well. Sharing useful snippets daily!

[2018-09-28 15:58] skatcat31 commented on #754
`String` instances are not strings, they are objects. While they can be coerced, they are a wrapper around a string, and are mutable. strings are not mutable in javascript and that's the biggest difference.

This however makes very little difference to anything.

I would however be against this change as it won't actually test if it's a string primitive or a string instance. We might want another

[2018-09-28 17:09] Chalarangelo commented on #754
I agree with @skatcat31's reasoning. Let's just document the functionality properly and move on.

[2018-09-29 22:30] sQVe opened #759 "Snippets in UltiSnips format"
I found this awesome project today and instantly wanted to _"install"_ it to use as snippets in **Vim**. I couldn't find it anywhere so I wrote a parser and created a repository here: [30-seconds-of-code-ultisnips](https://github.com/sQVe/30-seconds-of-code-ultisnips).

If it should live somewhere else, **please** do tell me. I initially planned to make a PR to the other *texteditor* repository, b

[2018-09-30 07:18] tangweikun opened #760 "[BUG] `deepClone` should deal with `null`"
## Bug description
`deepClone` not deal with `null`

## Steps to reproduce
[code]

## Expected behavior
[code]

## Solution
[code]

[2018-10-01 07:59] gillesdami commented on #754
@Chalarangelo @skatcat31 Ok fine, should I make a pull request on some files or are you handling it yourself?

[2018-10-01 09:11] Chalarangelo commented on #754
We can handle it, I'll do it later today.

[2018-10-01 16:34] Chalarangelo commented on #737
Closing due to little interest in this idea. Might reopen if someone has anything useful to suggest for this.

[2018-10-01 16:34] #737 closed

[2018-10-01 16:36] #754 closed

[2018-10-01 16:38] Chalarangelo commented on #759
I like this idea. However, maintainance is usually an issue with companion repositories - hopefully you can set it up in such a way that the repository auto-updates.

I think it can reside where it is right now, if we somehow decide to integrate the format into our own release flow, I will inform you right away!

[2018-10-01 16:38] #759 closed

[2018-10-01 18:38] itchylol742 opened #766 "indexOfAll.test.js should change comments for test of searching for val in array that doesn't contain val"
## Bug description

Currently the test which searches for 4 in array [1,2,3] has the comment 'Returns all indices of val in an array', but it should be changed to describe that it tests the function when val is not found. I would like to work on this issue by changing it to 'When val is not found, return an empty array'
## Steps to reproduce

The bug is a documentation issue, not a code issue
## E

[2018-10-01 18:43] sQVe commented on #759
@Chalarangelo Yeah, I get that. I have no problem with it residing at its' current home, I just wanted to let you guys know about it and let you decide. I'd love to somehow setup some kind of CI build that would update the repository automatically but I currently do not have time for that.

I'll try to keep it as up-to-date as possible and might also expand into other snippet formats, if I see a n

[2018-10-01 18:53] skatcat31 commented on #766
If you'd like to open a pull request we'd welcome it. Thanks for pointing this out!

[2018-10-01 19:05] Chalarangelo commented on #759
@sQVe I'd love to see that in action, send us a message (or comment on this issue) when it's done!

[2018-10-01 19:05] #766 closed

[2018-10-01 20:35] sQVe commented on #759
@Chalarangelo Will do. I got pretty far today. Searching (generating index) and displaying works nicely. Just have to make it more customizable with options.

This is currently what it looks like:
![screenfetch-2018-10-01_22-30-02](https://user-images.githubusercontent.com/2284724/46314191-2931df00-c5ca-11e8-8144-9c095e9aae08.png)

[2018-10-02 07:09] va3093 opened #769 "Add demo gif to README"
__Disclaimer: This is a bot__

 It looks like your repo is trending. The [github_trending_videos](https://www.instagram.com/github_trending_videos/) Instgram account automatically shows the demo gifs of trending repos in Github.

Your README doesn't seem to have any demo gifs. Add one and the next time the parser runs it will pick it up and post it on its Instagram feed. If you don't want to just

[2018-10-02 07:32] #769 closed

[2018-10-02 11:16] 10t4cL commented on #722
Is this still a planned feature? It sounds like something I could use on a daily basis!

[2018-10-02 17:27] skatcat31 commented on #673
We should visit this more, but with how quickly the JS landscape changes I'm not certain how applicable this is anymore, just 5 months later

[2018-10-02 17:53] Chalarangelo commented on #745
@skatcat31 Unfortunately, our old scroller didn't work last time I checked. Probably a CSS grid bug or somesuch...

[2018-10-02 17:55] Chalarangelo commented on #722
@skatcat31 Apart from that, there is incentive to use snippets instead of a package to avoid adding a ton of dependencies that might not be maintained in the long run. And based on the fact that 30code offers a wide variety of snippets that correlate to single-function packages, it might offer a choice to developers who do not want to include them.

... We can always do both. Implementing these fe

[2018-10-02 17:57] Chalarangelo commented on #673
There will always be some API that is expreimental or some code that isn't well-supported yet. Maybe keep an issue open to list anything interesting that comes to our attention that we have no snippets for? That could come in handy in the long run!

[2018-10-02 18:01] skatcat31 commented on #745
... I thought the scroller was just removed when the site was changed... I'll have to re-look at the PR. We may just want to delay it's execution then until after all other scripts(defer attribute on external scripts or IIFE in a setTimeout)

[2018-10-02 18:10] skatcat31 opened #774 "Glossary Examples"
## Description

With the glossary section we might want some documentation of edge cases or things to be aware of. While they don't have to be as complex as MDN, they should note some things, like coercion to instance for primitives.

We should however have a standard format for glossary terms that should have code examples, and those that do not

[2018-10-02 18:15] Chalarangelo commented on #745
@skatcat31 I would love to spend some time picking at this, but I don't think I'll be able to work this bug for a few days. If you want to try fixing it or doing anything with it, please report back with any news! 😉

[2018-10-02 18:17] Chalarangelo commented on #774
The template of 30interviews comes to mind. We could add a **Notes** subsection with bullet points adn only render/add it on snippets that require some kind of note below them. I suspect that any code will not be longer than a line or two, so we can probably get away with adding it in there.

[2018-10-02 22:01] skatcat31 commented on #745
I'm in the same boat for quite some time sadly XD

[2018-10-02 23:17] itchylol742 opened #775 "[BUG] tomorrow.js is extremely difficult to read, and doesn't pass the tester"
## Bug description

tomorrow.js is extremely difficult to read, and doesn't pass the test

## Steps to reproduce

in tomorrow.js, the code is extremely difficult to understand
[code]
also, it doesn't pass tomorrow.test.js
[code]

## Expected behavior

A more readable code, and passing the test.

## Screenshots

pastebin: https://pastebin.com/raw/vR5uK7qP (from testlog)

## Environment

Node 8.10.0

[2018-10-03 13:45] bersLucas opened #788 "[FEATURE] Add sidebar menu to static pages."
## Bug description

Static pages, (Archive.html, Contributing.html, glossary.html, ect) do not have the sidebar menu on the top left, a user is unable to navigate from these pages to another page.

## Expected behavior

Add `<button class="menu-button"></button>` to the static pages and have it have the same sidebar funcationality as the other pages.

## Screenshots

![screen shot 2018-10-03 at 9

[2018-10-03 14:06] Chalarangelo commented on #788
This is already planned, but we haven't had any time to implement it yet. I'll be working on it as soon as possible, along with a few other improvements for the website.

[2018-10-03 15:40] ZYSzys opened #795 "alternative getType"
## Description

Just want to know can the snippet below be the alternative of the implement of `getType` function
[code]

[2018-10-03 17:28] skatcat31 commented on #795
This is an adaption of the code that `Array.isArray()` polyfills use.

My personal preference is to use a split on space before the slice so that we don't run into any odd issues if it's not `[object Something]`.

[code]

We'd have to check for edge cases between the two before a replacement, but none that I can think of are coming to mind. We may just want to PR a test suite that tests every type

[2018-10-03 17:50] ZYSzys commented on #795
The current implementation is pretty great, so I don't mean to replace it.
Just wonder the difference of details between those two implements.🙂

[2018-10-03 18:02] skatcat31 commented on #795
The difference comes down to how the engine finds the prototype/class of the object. One does by property climbing, the other does by constructor naming. Both have possible issues, but to know those will require a deeper dive into JS to discover than I think most of the devs here have done just yet.

[2018-10-03 18:19] Chalarangelo commented on #795
Based on the fact that classes (and, in extension, constructors) are a thin layer on top of prototypes, I would prefer investigating this deeper and seeing if the prototypical approach proposed in this issue works the same or better than our current implementation. It might be slightly more verbose, but I think it has less potential for errors.

[2018-10-03 21:15] hckr opened #799 "Warnings caused by deprecated calls in atob and btoa"
## Bug description
The following warnings appear when running tests:

Deprecated calls are made in implementations of atob and btoa.

## Steps to reproduce
Run the tests with `npm run tester`.

## Expected behavior
No warnings should appear.

[2018-10-03 23:11] atomiks commented on #795
I've wondered the differences between:

[code]

and

[code]

[2018-10-04 03:36] #799 closed

[2018-10-04 04:57] skatcat31 commented on #795
some more information:

https://stackoverflow.com/questions/22289727/difference-between-using-array-isarray-and-instanceof-array

[2018-10-04 10:32] SarathSantoshDamaraju commented on #788
@Chalarangelo ,
Can I take-up this?

[2018-10-04 18:58] itchylol742 opened #804 "allEqual.test.js should test for arrays with different type items such as [1, '1', true]"
## Bug description

allEqual.test.js should test for arrays with different type items such as [1, '1', true], but it doesn't. I can fix this issue by adding a test for different types.
## Steps to reproduce

allEqual.test.js only has tests for same type, like [4, 3.999, 4]
## Expected behavior

It should test for different types in the same array
## Screenshots

N/A
## Environment

N/A

[2018-10-04 19:06] #804 closed

[2018-10-05 15:13] rsarky commented on #745
Would love to get onboard and help with this.
I faced the scroll discrepancy issue same as @fejes713 but wasn't able to recreate the issue where the
scroll doesn't happen.

[2018-10-05 15:39] gitjeff05 commented on #775
Should this just use ``t.toLocaleDateString()`` rather than attempting to format for one specific locale? [The ``toLocaleDateString`` method also accepts a locale](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleDateString#Checking_for_support_for_locales_and_options_arguments):
[code]

[2018-10-05 18:14] skatcat31 commented on #775
@gitjeff05 We want to hard code it at midnight local. It's to represent the first moment of tomorrow so you can try and use it to figure out when tomorrow starts. This is useful for countdowns and other such things that care about midnight(usually when tomorrow is defined)

[2018-10-06 02:37] skatcat31 commented on #745
@zainafzal88 can you provide some clarification? Tried to run with VS Code?

[2018-10-06 06:57] zainafzal88 commented on #745
Sure. I cloned the repo, opened it in VS Code and tried to run it using “ng serve” via terminal

On 6 Oct 2018, at 12:38, Robert Mennell <notifications@github.com<mailto:notifications@github.com>> wrote:

@zainafzal88<https://eur04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fzainafzal88&data=02%7C01%7C%7Cda322944cd48468136a508d62b34c1c9%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7

[2018-10-06 07:01] Chalarangelo commented on #745
I'd suggest running the pages from Chrome Simple Webserver instead.

[2018-10-06 09:34] Chalarangelo commented on #788
With the help of @SarathSantoshDamaraju, only `about.html` and `contributing.html` don't have navigation yet.

[2018-10-06 12:47] zainafzal88 commented on #745
@Chalarangelo thank you. I have installed that. Just curious, why doesn't the project run with VS Code? Also, there are many files and I don't know which was has the actual file that needs working on. Can someone please tell me as it's not mentioned in the reproduction steps

[2018-10-06 13:12] Chalarangelo commented on #745
The issue is a mix of CSS (compiled from SCSS), HTML and browser support. The generated files are all in the `docs` folder, the script generating them is `web.js` and the parts used are `style.scss` and the `.html` static parts in the `static-parts` folder. My best guess is we have some unmatching HTML tags somewhere or that CSS Grid doesn't quite work the way we expected it to in different browse

[2018-10-06 13:36] sQVe commented on #759
@Chalarangelo Project is moving forward, but slowly. One issue I'm having is that I rely on adding this repository as a submodule to get the `snippet_data`. I would prefer to import this from the `npm` module. Would it be possible to remove the exclusion of `snippet_data` from `.npmignore`?

[2018-10-06 17:29] SarathSantoshDamaraju commented on #788
@Chalarangelo , Will work on them and raise a PR soon.

[2018-10-06 20:48] flxwu commented on #788
Thanks for your contribution! @SarathSantoshDamaraju 🙂 ❤️

[2018-10-07 02:50] zainafzal88 commented on #745
@Chalarangelo thanks for all the explanation. Got few family plans today. I’ll work on it from tomorrow

[2018-10-08 16:43] RubenMateus commented on #722
i agree, this would make sense to be an extension, i can gladly help!

[2018-10-08 18:19] Chalarangelo opened #816 "[SCRIPTS] Major changes coming to all scripts"
As discussed in #762, updates have been made to the `packager` process to streamline builds. However, the discussion around that change raised a few interesting points, namely that we could use the daily package builds for tests. To further expand on that idea, I will write a short list of the changes that I want to make to the build pipelines, as they have been mostly untouched for a while. Along

[2018-10-08 18:37] Chalarangelo commented on #816
@fejes713 @atomiks @flxwu @skatcat31 Opinions on this?

[2018-10-08 18:42] fejes713 commented on #816
I ******* love this idea ❤️ I see whats your vision on packages - this is definitely doable! Great @Chalarangelo

[2018-10-08 18:49] flxwu commented on #816
Sounds like a good plan! 👍

[2018-10-08 21:24] skatcat31 commented on #816
That addressed most problems, but I'm curious what you mean about this sections:

I thought you wanted to use the files generated and put in the dist folder? If so why not just navigate to them?

[2018-10-09 05:39] Chalarangelo commented on #816
@skatcat31 `dist` builds are going to be nightly and we should check those anyways. `test` builds should run after each commit or PR merge to test new code that is being added so we can iron out any issues before the nightly builds.

[2018-10-09 05:57] skatcat31 commented on #816
as long as they aren't on the final push then i'm sold. It's just the duplication between deploying tests and the dist folder that gets to me

[2018-10-09 07:45] smigniot opened #817 "JSONtoCSV minor typo, and proposal"
In JSONtoCSV there is a typo in `demiliter` instead of `delimiter`.
Plus here is a proposal for default `columns` computation if concision is not too much of a concern
https://pastebin.com/raw/7XKfi800

[2018-10-09 07:56] Chalarangelo commented on #817
Good catch! You can open a PR to fix that typo!

[2018-10-09 08:15] #817 closed

[2018-10-09 11:54] antekai opened #821 "[FEATURE] New category array of objects (json data responses)"
## Description

There are many useful snippets for manipulation of arrays of objects (json data responses).
There are 15000+ results in stack overflow ( [SOlink](https://stackoverflow.com/search?q=%5Bjavascript%5D+%22array+of+objects%22) ) for a search query of `[javascript] "array of objects"`

What do you think about a new category for such snippets named "Object Arrays" or "Response data" or "A

[2018-10-09 13:04] Chalarangelo commented on #821
In general, these can be `object` methods that are invoked with `Array.prototype.map`, or vice versa, so no separate category is needed. Tagging as both `array` and `object` (primary key based on primary data type) is usually enough and has never caused us any issues in the past.

[2018-10-09 13:04] #821 closed

[2018-10-10 17:29] Chalarangelo commented on #816
### Update

I am currently working on the packaging scripts, already merged `module.js` and `rollup.js` into one script and I will try to make the process a bit faster (already trimmed about half a second from it). I'll update this comment as I go.

[2018-10-11 13:03] #760 closed

[2018-10-11 19:06] skatcat31 opened #829 "arrayToHtmlList update"
## Description

So our function `arrayToHtmlList` is in a pretty bad space and could use an update. We already had some discussion over at #675 but I wanted to move the update discussion over to an issue for more visibility.

Current problem:

It uses an awkward query selector instead of the `document.prototype.getElementByID()` function, and it uses an IIFE to declare an intermediate variable clo

[2018-10-12 13:13] Siarhei-Zharnasek commented on #829
[code]

@skatcat31 what do you think about implementing this way?

[2018-10-12 14:32] skatcat31 commented on #829
@Siarhei-Zharnasek I feel like if we're going to do that we should do a formatter function so they can choose their own entire string

[2018-10-13 00:21] skatcat31 opened #833 "palindrome needs an update"
## Bug description

Not a bug, but still sloppy none the less.

## Steps to reproduce

Read `snippets/palindrome.md`. There should be a few mistakes(prototype methods not marked with #, spelling errors, etc.)

Sadly I don't have enough time to pour over it letter by letter(packing to leave town Sunday for an interview)

[2018-10-13 18:59] rochieGH opened #835 "npm install"
What do I do after I install the package with nam?

[2018-10-14 14:38] tylerrrkd commented on #835
import and use it

[2018-10-14 19:28] sQVe opened #837 "Command-line application (CLI)"
My workflow is almost entirely around terminals and vim, so I've been missing a good and clean way to search and navigate your snippets. **I created a command-line application, [30s](https://github.com/sQVe/30s) to ease my itch**. The initial release is quite solid but I will be expanding on features when I find the time. I hope some of you will find it useful.

[2018-10-14 19:29] sQVe commented on #759
@Chalarangelo First release is now out. I've made a little notice here: https://github.com/30-seconds/30-seconds-of-code/issues/837. You can find the repo at: [30s](https://github.com/sQVe/30s)

[2018-10-14 22:13] mphan6 commented on #833
Hello,

I've attempted to make the corrections in the attached PR, but I'm not sure what you're talking about in regards to the 'prototype methods not marked with #'.
If you wouldn't mind letting me know what you mean and if there's anything else you'd like me to update, I'd appreciate it!

Thanks,
Matt

[2018-10-15 05:08] #833 closed

[2018-10-15 07:49] flxwu commented on #835
take a look into the README. https://github.com/30-seconds/30-seconds-of-code#package > Then under Details.

[2018-10-15 07:49] #835 closed

[2018-10-16 16:16] JIAKUNTIAN commented on #745
interesting

[2018-10-16 17:35] Chalarangelo commented on #829
- +1 on `document.selectElementById`. Either that or we should pass a query selector and use `document.querySelector` instead. Either way, it's awkward right now.
- IIFE has to go, let's do something better instead.
- I like the formatter idea. From a usability perspective, it's a lot better. From a learning standpoint, this might land the snippet in advanced (depending on verbosity), but it's a v

[2018-10-16 17:39] #837 closed

[2018-10-16 17:40] Chalarangelo commented on #837
Added the CLI app in the README at the top, along with the rest of associated projects that provide functionality like this. Thanks for building this, I'm looking forward to seeing the CLI app grow and get new features! 👍

[2018-10-17 10:29] GlulkAlex opened #850 "initializeArrayWithRange generalization ( merge with initializeArrayWithRangeRight )"
[code]

[2018-10-17 10:47] Chalarangelo commented on #850
This makes the snippets a lot more verbose and harder to read, while messing up the footprint. It's generally better to keep both of those as they are, nobody has ever complained about footprints or lack of versatility in initializing in reverse (we only had some issues with the code inside the function which has been already resolved in previous PRs).

[2018-10-17 10:47] #850 closed

[2018-10-17 14:15] GlulkAlex commented on #850
Ok, got it.

[2018-10-18 06:49] Chalarangelo commented on #816
As far as the `tagger` is concerned, should we move towards the model of 30interviews (and 30react now) where tags are inlined as comments in the snippets? That could be worth a shot.

[2018-10-18 22:38] SHAMANOVBEKZODSHODIYEVICH opened #854 "Da"
![img_20181010_222846_123](https://user-images.githubusercontent.com/44277587/47188154-8bffd600-d33f-11e8-86a5-777489369074.jpg)
## Bug description

## Steps to reproduce

## Expected behavior

## Screenshots

## Environment

[2018-10-19 04:44] #854 closed

[2018-10-19 06:30] SHAMANOVBEKZODSHODIYEVICH opened #856 "5 d"
![img_20181010_222846_123](https://user-images.githubusercontent.com/44277587/47188154-8bffd600-d33f-11e8-86a5-777489369074.jpg)
## Bug description

## Steps to reproduce

## Expected behavior

## Screenshots

## Environment

[2018-10-19 06:41] #856 closed

[2018-10-19 12:13] sQVe commented on #759
@Chalarangelo I've now added `CI` to the *UltiSnips* repo which runs a `cron` to update daily. This should keep the repositories in sync good enough.

I will probably expand the *UltiSnips* repository to include parsers for `VSCode`, `Atom` and `Sublime`. Time is the only issue.

[2018-10-20 08:51] fejes713 commented on #816
@Chalarangelo I agree with you. Having the same logic everywhere is good both for us and contributors. Less difference = More productive for everyone. Let's give it a shot, shall we?

[2018-10-20 11:35] Chalarangelo commented on #816
@fejes713 Absolutely, we kinda have to change all of the scripts that rely upon this and build a little tool that will migrate all the tags to their individual snippet files then. Doesn't sound too complicated but might take a little bit.

On a side note, if we do this, we can kind of skip on the `tagger` script and make it all run as part of the linter or some other script that runs early on. Aft

[2018-10-23 06:34] Ankitb09 commented on #829
`function arrayToHtmlList(arr, id, elemTag) {
    let parentElem = document.getElementById(id);
    parentElem.innerHTML += arr.map((item) => {
        return `<${elemTag}>${item}</${elemTag}>`
    }).join('')
}`

@skatcat31 What do you think about this?

[2018-10-23 16:28] skatcat31 commented on #829
@Ankitb09 again what advantage does that bring over adding a default formatter so they can handle the full string if wanted?

[2018-10-26 14:40] #788 closed

[2018-10-26 15:38] Chalarangelo commented on #816
* #788 has been resolved, static pages now have navigation.
* `analyzer` is gone, `extractor` is now generating proper data, along with ES5-transpiled versions of the snippets and a `snippetList.json` file with the minimum data required for snippets (which will eventually be used to populate a React-based website and navigation).

My core focus for now will be the VSCode plugin, which should be re

[2018-10-28 09:51] fejes713 commented on #722
Can't wait for this one @Chalarangelo 😃 Please keep us posted on update from Azure team

[2018-10-28 12:29] Chalarangelo commented on #722
Yup, I will!

[2018-10-29 08:10] sQVe opened #864 "Currying / order of parameters"
I write JavaScript mostly in a functional manner and often use currying. From this perspective there are issues with many of the `30-seconds-of-code` snippets. An example is:

[code]
It is not possible to use this together with `compose` or `pipe` because it's not taking the `arr` as the last parameter. Swapping the parameters would of course remove the default `Boolean` of `fn` but I, personally,

[2018-10-30 15:18] sorcer1 opened #866 "Failed to minify the code from this file ./node_modules/30-seconds-of-code/dist/_30s.esm.js:2"
## Bug description
After adding the package to my project, i try to build a production build with webpack and i get this message :

Creating an optimized production build...
Failed to compile.

Failed to minify the code from this file:

        ./node_modules/30-seconds-of-code/dist/_30s.esm.js:2

## Steps to reproduce
Install the package to the project :
`npm install 30-seconds-of-code`

Add the

[2018-11-02 02:48] charleserious opened #869 "Comment wrong with getColonTimeFromDate"
## Description

`getColonTimeFromDate`
Comment

Should be

[2018-11-02 04:42] Chalarangelo commented on #869
Whoops! Feel free to submit a PR fixing this!

[2018-11-02 14:15] konstantin-hatvan commented on #829
Hello,

I have never contributed to open source before but this issue seemed like a good one to start. I hope I can contribute.

[code]

What do you think about this?

[2018-11-02 14:18] konstantin-hatvan commented on #829
Sorry i made a typo in the above code ...  The marker was missing in the formatterString variableShould be:

[code]

An example usage of this would be

[code]

[2018-11-03 14:14] #869 closed

[2018-11-03 19:31] skatcat31 commented on #864
@sQVe this was something I brought up a long time ago as well since I use Ramda a lot in my code bases for building utilities and formatting transformations. We have an adapter section that would make it easy to adapt to a FP style paradigm. We decided to use the legacy JS footprint of `(data, everything else)` because that is what most snippets were either submitted in or created in, and JS allow

[2018-11-04 15:27] 3desember opened #872 "bankimg"
## Bug description

## Steps to reproduce

## Expected behavior

## Screenshots

## Environment

[2018-11-04 18:36] #872 closed

[2018-11-07 18:01] skatcat31 commented on #829
You're right I was missing a closing arguments parens.

Reduce might be an option

[code]

however we run into a lot of really nasty parens in the footprint and having to keep around an empty string in body, which is something we need to do regardless(the join). It does however reduce the time complexity by a significant margin(O(n) vs (2n))

This however means that any formatter passed will be a

[2018-11-07 20:57] anaiy commented on #872
Cancel my subscription

در یکشنبه ۴ نوامبر ۲۰۱۸،‏ ۲۲:۰۷ Angelos Chalaris <notifications@github.com
نوشت:

[2018-11-07 22:19] omriLugasi opened #873 "Simpler way to create the `filterNonUnique`"
## Description
The filterNonUnique array option is very nice but there is a simpler way to do it

Current
----
`const filterNonUnique = arr => arr.filter(i => arr.indexOf(i) === arr.lastIndexOf(i))`

My suggestion
----
`const filterNonUnique = arr => [...new Set(arr)]`

Please let me know if you want a pull request :)

[2018-11-07 23:04] skatcat31 commented on #873
This is a newer way that is finally available. I would have no problem with it being PRed. Consensus?

[2018-11-07 23:36] atomiks commented on #873
Seems like it already exists: [`uniqueElements`](https://github.com/30-seconds/30-seconds-of-code#uniqueelements)

So basically an alias for that one...

[2018-11-08 06:34] Chalarangelo commented on #873
The two snippets are different. Take this test case for example:

[code]

`filterNonUnique` will remove every instance of each value that appears twice, while `uniqueElements` will only keep one of each value.

I'm closing on the basis that the proposed change alters the snippet functionality.

[2018-11-08 06:34] #873 closed

[2018-11-10 12:39] Chalarangelo commented on #816
**Coverage** is now set up. Check Codacy to see what's missing. 92% is not too bad either. Closing issue, as the changes are finally finalized.

[2018-11-10 12:39] #816 closed

[2018-11-10 14:45] atomiks opened #875 "Module files incorrect"
- [`_30s.esm.js`](https://github.com/30-seconds/30-seconds-of-code/blob/240e800a33ab01b8c540a53cec76e4e11c415f19/dist/_30s.esm.js) is displaying `module.exports = { ...snippets }`, should be `export { ...snippets }`

- [`_30s.js`](https://github.com/30-seconds/30-seconds-of-code/blob/240e800a33ab01b8c540a53cec76e4e11c415f19/dist/_30s.js) no longer works in the browser (throws an error `module is n

[2018-11-10 14:54] Chalarangelo commented on #875
@atomiks you are the one who fixed them in the first place, can you update them yet again?

[2018-11-10 14:55] atomiks commented on #875
Also we'll add `"sideEffects": false` to `package.json` to support webpack tree-shaking

[2018-11-10 19:49] #875 closed

[2018-11-10 20:12] Chalarangelo commented on #875
Thanks for fixing it. I will release a patch tomorrow if I get the time to address this issue on npm.

[2018-11-19 18:09] konstantin-hatvan commented on #829
@skatcat31 Although this is not the most aesthetic implementation, it's the best solution in my eyes.

I think it is preferable to overwrite the innerHTML rather than concatenating because of the cleaner representation, as you have mentioned before.

[2018-12-05 12:38] wfxphoebus commented on #866
me too

[2018-12-05 13:31] atomiks commented on #866
Seems like the package (as of 1.2.2) hasn't been updated with the proper files yet. @Chalarangelo

Can you go to `node_modules/30-seconds-of-code/dist/_30s.esm.js` and replace it with the code here: https://github.com/30-seconds/30-seconds-of-code/blob/master/dist/_30s.esm.js and see if it compiles?

Note there's no default export with the new files, it's recommended to import it like

[code]

so

[2018-12-05 13:35] sorcer1 commented on #866
you're right, it's works !

[2018-12-05 13:36] wfxphoebus commented on #866
ERROR  Failed to compile with 1 errors                                                                                                    9:35:41 PM

 error  in ./node_modules/30-seconds-of-code/dist/_30s.esm.js

Module parse failed: Unexpected token (730:20)
You may need an appropriate loader to handle this file type.
|   items
|     .filter(item => item[link] === id)
|     .map(item => ({ ...ite

[2018-12-05 13:37] atomiks commented on #866
@wfxphoebus looks like it's failing because of the object spread operator (`...`), which is a new ES2018 feature.

If you're using Babel 6, install `babel-plugin-transform-object-rest-spread`. Babel 7 handles it automatically.

[2018-12-05 15:16] #866 closed

[2018-12-07 16:34] Chalarangelo commented on #829
@skatcat31 Wanna rewrite this one as discussed? Or I could give it a shot in a few days.

[2018-12-07 16:36] Chalarangelo commented on #775
Seeing as this thread is kind of dead, please move all further discussion to #849.

[2018-12-07 16:36] #775 closed

[2018-12-07 16:36] Chalarangelo commented on #774
@skatcat31 **Notes** or **Remarks** maybe?

[2018-12-07 16:37] Chalarangelo commented on #745
@zainafzal88 Have you tried anything yet? It's been a while and this is quite a big issue, especially now that Edge is moving to V8 and will most likely have this very same issue in the future.

[2018-12-07 17:48] Chalarangelo commented on #722
The extension is finally live on VSCode Marketplace! Check it out [here](https://marketplace.visualstudio.com/items?itemName=30-seconds.30-seconds-of-code) and remember to download and rate if you can, we need the popularity boost in order to get more people involved in the development of 30-seconds.

[2018-12-07 17:48] #722 closed

[2018-12-09 11:13] ilicmarko opened #890 "Using regex for StripHTML not right"
## Bug description
Using RegEx for stripping HTML/XML tags is not a good idea. Unfortunately, there isn't a good enough RegEx to select the HTML tags and not mix it up with regular text.

`<[^>]*>` this RegEx will fail if you have simple math inside your text `<` or `>`.

## Steps to reproduce
1. Make a simple HTML with math `<p>Did you know that JS < Python</p>`
2. Call `stripHTMLTags(ourHTML)`

[2018-12-09 11:20] Chalarangelo commented on #890
Using the DOM API assumes that this snippet will be run in a browser, meaning that this cannot run on a server-side environment such as node.js.

Proper html code should have `<` in text escaped as `&lt;`.

[2018-12-09 11:20] #890 closed

[2018-12-11 10:11] Chalarangelo commented on #795
I think the implementation suggested above works just as well as the current one and is a decent replacement.

[code]

However, I'm voting to keep the one we have as it is easier to read and understand for newcomers, especially when they come from an OOP language and want to do type-checking (which is pretty standard in that scenario).

Based on the fact that this has been inactive for two months

[2018-12-11 10:11] #795 closed

[2018-12-12 15:28] RobertAKARobin opened #891 "npm scripts don't appear to update test/_30s.js"
## Description
I believe I followed contrib guidelines for #889, including running `npm run tagger`, `npm run tester`, and `npm run test`. However, my tests did not pass until I manually updated `test_30s.js`. Is one of the scripts supposed to update this file?

[2018-12-12 15:32] Chalarangelo commented on #891
Yeah, I think the guidelines are a bit out of date. I think it's the `packager`'s job. I'll update them asap.

[2018-12-12 15:37] RobertAKARobin opened #892 "Image at top of contributing.md is not accurate"
![img](https://user-images.githubusercontent.com/6268177/49879946-b080a780-fdf0-11e8-94b9-6fab02e9b17a.png)

* Image references `npm run tdd` which is undefined
* Image doesn't reference `npm run tester`, but documentation does

[2018-12-12 15:43] Chalarangelo commented on #892
Yep, this is outdated, too. I'm planning to rewrite this.

[2018-12-12 16:30] Chalarangelo commented on #891
Resolved in bd11d03. Waiting for @fejes713 to update the image at the top and resolve #892 as well.

[2018-12-12 16:44] #891 closed

[2018-12-12 16:45] Chalarangelo commented on #892
Resolved in 13905ed.

[2018-12-12 16:45] #892 closed

[2018-12-14 06:17] mirnakhori opened #895 "..."
## Bug description

## Steps to reproduce

## Expected behavior

## Screenshots

## Environment

[2018-12-14 06:18] mirnakhori opened #896 "...."
## Description

[2018-12-14 06:18] mirnakhori opened #897 "Mmm"
## Description

[2018-12-14 06:39] #897 closed

[2018-12-14 06:39] #896 closed

[2018-12-14 06:40] #895 closed

[2018-12-24 10:31] fatedeity opened #901 "isEmpty will be invalid for Set and Map"
## Bug description
Object.keys is invalid for Set and Map, If a Set object add a value, then use Object.keys will get a empty array, the same to Map.

[2018-12-27 03:32] skatcat31 commented on #901
also this works on functions, which... is that the right way to do things?

[code]

Maybe we should go with a mini library? Check if it's a primitive and if so return true, otherwise proceed onto tests for iterator, length, and then keys?

[2018-12-27 04:20] haoliangwu commented on #901
maybe this repo should contain other specific type check util methods like `isMap`、`isSet` and etc.

Then we can ensure `val` as Map/Set type by invoking `(isMap || isSet)` methods and check if its `size` property equal to zero without increasing time complexity.

[2018-12-27 05:00] skatcat31 commented on #901
@haoliangwu we decided against that a long time ago because we want each snippet to be able to be used on their own. This is why this one is kind of monster

[2019-01-08 15:46] verget commented on #745
@Chalarangelo I think I can try to catch this fallen flag =) Anchor scroll functional looks working, but I see the issue @fejes713 mentioned when the title of a section overlaps by a fixed header. Is PR welcome?

[2019-01-08 16:11] Chalarangelo commented on #745
@verget PR is definitely very very welcome, this seems like an issue that should be fixed asap! 😉

[2019-01-09 12:05] savoygu opened #906 "deepClone transfer [] to 0"
## Screenshots

![image](https://user-images.githubusercontent.com/9302866/50898296-b72f2880-1449-11e9-98eb-a1fbf2f0dfdc.png)

[code]

[2019-01-09 12:10] Chalarangelo commented on #906
That is quite an interesting edge-case. We should look into it. Alternatively, you can submit a PR with a fix, if you want.

[2019-01-09 18:10] #745 closed

[2019-01-09 22:05] nickforddesign commented on #829
I’d recommend making this a pure function that just returns html, leave the DOM out of it.

[2019-01-10 15:58] cncolder opened #907 "Why hashNode return sha256 hex in next tick?"
## Description

Is there some security reasons?

[2019-01-11 01:37] skatcat31 commented on #907
I'm not exactly sure. I'm pretty certain you could easily just do

[code]

[2019-01-11 01:37] skatcat31 commented on #907
@Chalarangelo is there a reason that's done?

[2019-01-11 01:41] skatcat31 commented on #829
That's probably for the best. It means we'd be releasing a breaking change, but to be fair this thing is in a bad spot. If we REALLY wanted to we could actually returns a full nodelist so that other modifications could be done, but I think at that point a stand alone script library would be better

[2019-01-11 01:41] skatcat31 commented on #829
so yeah I'd be okay with it just returning an HTML string instead

[2019-01-11 06:48] Chalarangelo commented on #907
That's one of the oldest snippets, I think we kind of adapted this from some StackOverflow answer, so that's why it looks that way. If the way it works and its use cases are not altered, we should update it to this new version.

[2019-01-11 09:03] Chalarangelo commented on #907
Two reasons why we are using a promise here:
1. Hashing is quite expensive, so a promise is preferred to make sure the thread doesn't wait for a long time.
2. The footprint matches the browser footprint, which is somewhat nice.

I am pretty sure we should stick to this returning a promise, just clean up the code a bit. Plus, it's gonna be a breaking change and this is quite a popular snippet in my

[2019-01-12 07:49] skatcat31 commented on #907
@Chalarangelo this is a blocking stream, wrapping it in a promise merely delays when you can use it, which would mean that it actually works as `finish hash, update hash, next available loop return hash`.

Although I think this answers why we put it on next tick. By putting it on next tick we offload it until the event loop is free, which since these algorithms can be heavy would in fact be prefer

[2019-01-12 07:50] skatcat31 commented on #907
My suggestion is that hashNode is updated to explain why it uses the setTimeout so as to put it onto the event loop and not block

[2019-01-12 07:57] Chalarangelo commented on #907
@skatcat31 My thoughts exactly. Could you PR an update for the explanation, just so we remember why this is done like this next time? 😛

[2019-01-12 09:15] #906 closed

[2019-01-12 09:46] Chalarangelo commented on #673
This issue is essentially dead, so I'm gonna close it. If anyone touches experimental tech, note the following:
- Tag as `experimental` (not as primary tag).
- Inform us of the experimental nature of the tech, link to docs, make it pretty clear we should do something about this snippet that clearly is not ready for production, so we can properly present it to users.

[2019-01-12 09:46] #673 closed

[2019-01-13 08:33] skatcat31 commented on #907
Sure. When I get home tomorrow I'll issue the pr

[2019-01-14 05:40] #907 closed

[2019-01-17 03:42] daGaiGuanYu commented on #247
I can do sth on translation job if you need.

[2019-01-17 14:12] fejes713 commented on #247
Thanks for letting us know @daGaiGuanYu, we do really appreciate it. I do not think we need translators at this moment due to to the scale of the project.

We could only start something like Chinese version if you will commit 101% of your time to fully translate and maintain the Chinese version. Right now, at this scale, I don't think anyone would be interested in committing that much time.

[2019-01-17 15:06] Chalarangelo commented on #247
I agree with @fejes713. I tried translating to Greek at some point and it was impossibly difficult to accomplish and maintain. If you want to do a separate Chinese version, we would happily link it from the README as an unofficial project.

[2019-01-18 03:37] daGaiGuanYu commented on #247
K,,,,thanks for your reminding @Chalarangelo @fejes713, just in case you need form a team for translation in the future.

[2019-01-18 11:44] fejes713 commented on #247
Sure! We will keep you in the loop if we ever decide to translate this with a bigger team. Thank you anyways! 👍

[2019-01-18 19:04] ektada commented on #901
i would like to work on the project

[2019-01-21 07:11] skatcat31 commented on #901
Maybe we just adapt this to a more generic "check property" snippet?

[code]

[2019-02-01 08:22] AlekseyPn opened #914 "Search field."
Hi :)
## Bug description
When I search something in your site and after I clear my search query, menu doesn't return to initial state.

## Steps to reproduce
1. Write search query, for example groupBy.
2. Clear search query.
3. Try to click by menu items.

## Expected behavior
Menu is return to initial state for search manually.

## Screenshots
Firefox
![image](https://user-images.githubuserconten

[2019-02-01 11:51] Chalarangelo commented on #914
I noticed this a couple of days ago, too. If you want to try fixing it, you are more than welcome to submit a PR.

[2019-02-01 11:59] RobinZhao00 opened #915 "getURLParameters can be wrote in this way"
const getURLParameters = url => (url.match(/([^?=&]+)(=([^&]*))/g) || [])
  .filter(a => a.includes('='))
  .map(b => b.split('='))
  .reduce((prev, curr) => ({ ...prev, [curr[0]]: curr[1] }), {});

getURLParameters wrote in this way can be easily understood

[2019-02-02 00:34] skatcat31 commented on #915
https://developer.mozilla.org/en-US/docs/Web/API/UR

If anything we should just rewrite getURLParameters using the URL class.

[code]

[2019-02-02 06:33] RobinZhao00 commented on #915
![image](https://user-images.githubusercontent.com/19774093/52160848-700a1f80-26f7-11e9-804c-88557e207be0.png)

[2019-02-02 06:34] RobinZhao00 commented on #915
![image](https://user-images.githubusercontent.com/19774093/52160851-97f98300-26f7-11e9-84f5-3a1d7d84d2e8.png)

[2019-02-02 06:44] RobinZhao00 commented on #915
[code]

[2019-02-02 06:51] RobinZhao00 commented on #915
A summary :
[code]

[2019-02-02 08:30] Chalarangelo commented on #915
Based on [this perf](https://jsperf.com/geturlparams-915), the existing version performs better than the suggested change both on Chrome and Firefox. Therefore, I am closing the issue as the readability improvements to the snippet are negligible.

[2019-02-02 08:30] #915 closed

[2019-02-05 00:06] skatcat31 commented on #915
@Chalarangelo https://nodejs.org/docs/latest-v4.x/api/url.html#url_url and if you scroll down search is available

[2019-02-05 00:12] skatcat31 commented on #915
I did however manage to delete the part that made it actually work in an edit... go me -.-

[code]

[2019-02-05 00:15] skatcat31 commented on #901
I keep forgetting to do this... After a long day at work I often just boot up a game now...

[2019-02-05 10:43] karma10077 opened #916 "Strings scratched"
Can someone help me with this matter

[2019-02-05 17:43] Chalarangelo commented on #916
I'm closing this for the time being, as there is no real explanation of the issue or any description that we can make sense of.

[2019-02-05 17:43] #916 closed

[2019-02-07 15:24] paulcanning opened #917 "Language contamination"
I only have PHP selected, but I get cards like this

[https://imgur.com/a/d6p7TaC](https://imgur.com/a/d6p7TaC)

Which is Python(?)

[2019-02-07 15:29] flxwu commented on #917
Hey, thank you for your issue. Unfortunately, we don't have anything to do with wither 30-seconds-of-knowledge or 30-seconds-of-php.

[2019-02-08 09:05] jakob-e opened #918 "Reflow/Force a sync layout snippet"
## Description
Browsers defers styling to the end of animation frame – causing cancelation

[code]
When doing [FLIP animations ](https://aerotwist.com/blog/flip-your-animations/) we need to force a sync layout to prevent defer from happening – like accessing a property that requires the browser to have an updated value (triggers layout) – e.g. offsetHeight

[code]
To make intend clearer we can wra

[2019-02-11 00:28] lenoraporter commented on #914
@Chalarangelo I am attempting to fix the problem, but I do not exactly understand where or which piece of code to edit. I see what's happening and I know how to fix it, but when I attempted to update the static-page-start and run yarn webber, my changes weren't reflected.

If you could point me in the right direction I would gladly help.

[2019-02-11 05:57] Chalarangelo commented on #914
That's the correct way to do it. However, you should edit `page-start`, `static-page-start` and maybe even `beginner-page-start` if your changes affect code that is also present there. Also, bear in mind that you should only commit changes to those files and not the built output. Thanks for the effort, @lenoraporter.

[2019-02-13 12:18] MacFlurry opened #921 "Safari"
Hello,

Do you plan to port 30 sec of code to safari ?
A thousands of people don't use chrome.

Thanks,

[2019-02-13 16:41] Chalarangelo commented on #921
All snippets are written in ES6 and are not browser-specific. Same goes for the website and README - everything has been tested on all browsers, not just Chrome.

[2019-02-13 16:41] #921 closed

[2019-02-13 16:56] MacFlurry commented on #921
I don't see a safari extension though

[2019-02-13 17:44] Chalarangelo commented on #921
The extension is another project, not officially supported, although endorsed, by the 30 seconds team.
Please ask about it in [30 seconds of knowledge](https://github.com/petrovicstefanrs/30_seconds_of_knowledge).

[2019-02-21 08:35] AngelsRAmongUs commented on #769
A notary Assistant Bot that fills out your document for you

[2019-02-21 08:36] AngelsUs opened #923 "Notary Assistant Bot"
## Description

How to build a notary Assistant Bot

[2019-02-21 08:37] AngelsRAmongUs commented on #923
![8241a471-6415-471b-8cef-eeb9a9d3ec26](https://user-images.githubusercontent.com/26760753/53154990-107e9180-358a-11e9-92ff-ad5f5ef4d2ab.jpeg)

[2019-02-21 11:11] #923 closed

[2019-02-22 23:30] YusofBandar opened #924 "Alternative To Distance"
## Description

I noticed that you have code snippet for calculating the distance between two co-ordinates in 2d space. Would it be useful to add a code snippet which does the same but isn't confined to 2d space.

[2019-02-23 02:37] skatcat31 commented on #924
You could generalize it and make it x dimensional...

[2019-02-23 12:53] YusofBandar commented on #924
This is what I have come up with so far;

[code]

Essentially
1) The function allows a number of args (`coords`)
1) Slices the `coords` array in half into `length`
1) Reduces `length` array by squaring the difference of each coordinate component and summing
1) Finally the sum is square rooted

What do you think?

[2019-02-23 15:03] YusofBandar commented on #924
This what I have come up with so far:

[code]
Essentially:
1) The function can take any number of args (`coords`)
1) `coords` is split into half, separating the two points
1)  For each co-ordinate component I find the difference between the two points and square
1) Finally I square root the `sum`

I was wondering what you think?

[2019-02-23 15:12] Chalarangelo commented on #924
I like the idea, but it shouldn't be called `distance`. `distance` is the existing, simplified 2D version. Should we call it `vectorDistance` to make sure it's understandable?

[2019-02-23 15:16] YusofBandar commented on #924
Sweet I will do pull request

[2019-02-23 15:16] vgrafe opened #925 "spam issues"
Hi,

I am receiving emails on my work inbox (vincent.grafe@curiositystream.com) for this whole repo. Every issue filed, answered, PR, commit... everything lands in my inbox. It is driving me crazy.

I did never watch or star the repo. It started happening out of the blue.

My Github account does not even use this email as login. I have no idea on how and why this is happening.

Thank you for helpi

[2019-02-23 15:23] YusofBandar commented on #925
I don't know if this would help but have you checked out this article on notifications:

https://help.github.com/en/articles/subscribing-to-and-unsubscribing-from-notifications

[2019-02-23 15:30] vgrafe commented on #925
I am getting notifications for everything under this repo, without opting in notifications. I'll contact github, but I'd like to know: is there anything set on your org, like a mailing list or something like that?

[2019-02-23 15:36] YusofBandar commented on #925
I am not the owner of this repo so i can't say for sure, but I suspect there isn't.

When ever I get an email from Github there is always a unsubscribe link, have you tried that.

[2019-02-23 15:37] vgrafe commented on #925
This is part of the issue description. The link does not work. The email address I am getting spammed at is not even my github email.

[2019-02-23 16:00] #924 closed

[2019-02-23 16:21] Chalarangelo commented on #925
Yep, this is not an issue with the repo or the org. We are not sending emails to people about anything we do, let alone issues and PRs. It's probably an issue with Github or a 3rd-party app. Hope you can resolve this.

I'll keep this open for a little bit, post any information you get here and inform us if we can help in any way with this if it's some kind of configuration problem.

[2019-02-23 16:23] vgrafe commented on #925
Sounds good. I already contacted github's support... crossing fingers. Thank you!

[2019-02-24 13:05] vgrafe commented on #925
I'll close - it seems to be redirects from a former employee's email address. Thank you!

[2019-02-24 13:05] #925 closed

[2019-02-25 04:06] lybPigff commented on #917
How about JavaScript or node.js?

[2019-02-25 05:48] #917 closed

[2019-02-27 20:27] Hiortx commented on #918
I always do an async function to control animations

[code]

I don't know if is the best way to do this, but it works
[code]

[2019-03-01 17:44] Chalarangelo commented on #914
Resolved in #928.

[2019-03-01 17:44] #914 closed

[2019-03-05 15:12] benschac opened #930 "differenceBy doesn't transform values then check the difference."
## Bug description

differenceBy should apply the function, then check the difference and return the transformed | applied difference value. Currently, it will not transform the element if it's a difference.

## Steps to reproduce
Run the function

## Expected behavior

should apply the function to all elements, then check the difference and return the transformed | applied difference value.

[2019-03-05 17:05] Chalarangelo commented on #930
I see what you mean and it's probably the correct implementation. Not sure how we missed that. However, your PR should only alter the snippet file and/or tests if necessary, so please submit a new one following these rules. Thanks for your time and bringing this issue up!

[2019-03-05 17:17] benschac commented on #930
Happy to help!

For sure.

Curious, should I submit a PR for [contributing](https://github.com/30-seconds/30-seconds-of-code/blob/master/CONTRIBUTING.md)? I followed the steps on there, totally makes sense that you'd want Travis to run those npm scripts.

[2019-03-05 18:10] #930 closed

[2019-03-14 07:34] mkopa opened #935 "isNumber is wrong for NaN"
## Bug description
NaN is not a number, but isNumber(NaN) returns true.

My suggest is:
`const isNumber = val => typeof val === 'number' && !isNaN(val);`

[2019-03-14 09:16] musyilmaz opened #936 "[SUGGESTION] Implementing live-code playground snippets on examples"
## Description

As a react / electron developer, I am using the plugin since sawing it on product hunt I think. Thanks for the effort. (edited: seems like plugin is somewhat older than recent product hunt appear)
Mainly for the react snippets utilizing a codepen, condesandbox example could be amazing. Do you guys interested in the case? This could help on frontend examples definitely, due to seein

[2019-03-14 10:00] jjeejj commented on #935
@mkopa you can use `Number.isNaN` function

[2019-03-14 10:34] mkopa commented on #935
@jjeejj What do you mean `I can use Number.isNaN?`
I'm writing about https://github.com/30-seconds/30-seconds-of-code#isnumber when function `isNumber` return `true` for `NaN` value.

[2019-03-14 14:41] jjeejj commented on #935
@mkopa yes,you are right ,but i think  the `Number.isNaN`  function is better than the `isNaN`， because `isNaN('ss')` return `true`

[2019-03-14 14:50] mkopa commented on #935
@jjeejj you are right, but in this case it's doesn't matter because `typeof 'ss' === 'string'`, not `'number'`

[2019-03-14 15:13] jjeejj commented on #935
@mkopa you can consider it conveniently through performance

[2019-03-14 15:40] mkopa commented on #935
Maybe better solution will be:
`const isNumber = val => typeof val === 'number' && val === val`
because NaN is never equal to NaN?

[2019-03-14 23:24] YusofBandar commented on #936
Its definitely an interesting idea but i feel it defeats the whole point of the repo. All code snippets take 30 seconds to understand thus a live code snippet is not needed.

However may be for the more advanced snippets, it could be useful.

[2019-03-15 00:59] jjeejj commented on #935
Yes, This solution is better.

[2019-03-15 06:47] Chalarangelo commented on #935
I agree that the below is probably the optimal solution as it is a good place to explain how `NaN` self-equality works.

[code]

I would love to see a PR for this, it's a pretty important consideration. Additional tests to deal with the edge cases would be appreciated, too.

[2019-03-15 06:50] Chalarangelo commented on #936
I would like to eventually implement a generated link for each snippet that links to a repl or pen - not embedded, but external links. However, that is probably a couple of months away, as the website should be getting a facelift before implementing new features. So, hang in there or send us a PR that moves in the right direction if you want to help out!

[2019-03-16 18:13] fayazara opened #939 "Snippet refactoring PR"
I thought of submitting a PR and saw that someone has already submitted it.

But my snippet is shorter & more cleaner. Do I still submit it?

[2019-03-17 01:41] skatcat31 commented on #901
@Chalarangelo after checking the current state I'm going to close this. As it notes it checks for keys length or object property length it should be obvious this would not work on something this is defined empty by a size property. While some may not understand it, it means they aren't looking closely enough at the Map and Set types. Why Map and Set don't have lengths is beyond me... Either add a

[2019-03-17 01:41] #901 closed

[2019-03-17 12:38] Chalarangelo commented on #939
You should submit your PR regardless. If it's a better implementation, we will most likely choose it over other candidates.

[2019-03-18 15:15] madarsbiss commented on #936
I would agree with @YusofBandar on this.. Each snippet is easy to understand and if a user needs some in-depth exploring, he might go to mdn for full documentation!

[2019-03-19 07:42] #935 closed

[2019-03-30 15:35] peni86 commented on #917
Jaringan akurat

[2019-04-06 12:28] dorseth opened #947 "objectToPairs"
https://github.com/30-seconds/30-seconds-of-code/blob/master/snippets/objectToPairs.md
saw this one today.
There is a native way of doing the same thing via Object.entries.

[2019-04-08 02:44] skatcat31 commented on #947
This predates the Object.entries method. It might be a good idea to note that Object.entries exists and shunt this to an Object.entries call and deprecate it

[2019-04-08 02:49] skatcat31 commented on #936
@Chalarangelo the Ramda repo has a great repl that should be easy to lift and has a way to link to it too that they use. The Ramda site is pretty great. BTW have I mentioned I like Ramda a billion times yet?

[2019-04-08 02:49] skatcat31 commented on #939
Closing due to age

[2019-04-08 02:49] #939 closed

[2019-04-08 05:33] Chalarangelo commented on #947
`Object.entries` support is just below 90%. Can we discuss this in a month or so when it's past 90%? It's my OCD talking, but it's not such a bad idea to wait for just a bit.

Two minor concerns of mine are as follows:

1. We shouldn't remove the method. Even if it works as an alias for the native method, it's not going anywhere as far as I am concerned, as this would break compatibility and we do

[2019-04-10 00:54] himdiv23 commented on #947
What did you mean by Object.entries having an obscure, forgettable name? Also, what can be done to raise Object.entries support to above 90%?

[2019-04-10 05:05] skatcat31 commented on #947
@Chalarangelo the 10% that doesn't support it is literally IE11. Considering it is not only no longer actively developed we should probably not include it in this calculation. We could probably safely use it since anyone still supporting IE11 will be using a transpiler for safety or they miss out on too many features to be productive.

@himdiv23 convince people to drop IE11 for a modern and suppor

[2019-04-10 05:20] Chalarangelo commented on #947
@skatcat31 yeah it's mainly IE. We could theoretically wait until the release of the next Windows version that includes the release of a stand-alone Edge that people might swap with their older IEs in Windows 7, right?

It's `objectToPairs` because it's focused on objects and it's easy to find like that. Actually, renaming will break compatibility and it's also one of the most popular terms for fi

[2019-04-11 00:08] skatcat31 commented on #947
Might be good food for thought. Either that or a general toPairs method that handles the most common cases(Objects, Sets, Maps)?

[2019-04-11 05:06] Chalarangelo commented on #947
@skatcat31 The argument against a general `toPairs` method is probably testing and compatibility both now and in the long run. I'd still go with `objectToPairs`, `setToPairs` etc, but a general version would work if everyone agrees on that one.

@fejes713 @flxwu @atomiks Your opinions?

[2019-04-11 05:29] skatcat31 commented on #947
[code]

[2019-04-11 05:34] skatcat31 commented on #947
any object should work due to conversion to a basic key pairing, so it should have 1 of 2 outcomes:

- an Array
- throws a typeError

[2019-04-11 05:39] Chalarangelo commented on #947
What if we actually keep `objectToPairs` as the beginner snippet using `Object.entries()` and `toPairs` as an advanced function that works for everything? Best of both worlds in my opinion.

[2019-04-11 05:41] skatcat31 commented on #947
... that was my suggestion? I must have left it a little too ambiguous

[2019-04-11 05:42] skatcat31 commented on #947
I know I'm forgetting some basic types above, but it should be simple enough

[2019-04-11 05:44] Chalarangelo commented on #947
I think we should move forward with this suggestion soon, then. It looks quite promising and it's probably the first snippet that dares delve into iterator territory like that.

[2019-04-11 22:29] skatcat31 commented on #947
I'll work on that when I have some time, but if anyone gets ot it first I won't be too sad. I'm going to be taking it easy tonight though... work has had some rather complex buisiness logic come up recently that I've been working on so I need a night of video games to relax

[2019-04-12 15:48] GrosSacASac opened #950 "Simplification of the code"
Using rest/spread we ca simplify some examples even more
[code]
Number functions converts boolean to 1 or 0, however it would work if undefined is used as a negative ...
[code]

[].flat (Bonus: it respects Symbol.species)
[code]

[2019-04-12 15:51] GrosSacASac opened #951 "Silent type cast not mentioned"
For mapObject

the keys will be cast to String, it should be explained, or at least a warning. The example makes it look like they are stored as numbers.

[2019-04-12 16:13] GrosSacASac opened #952 "Potential memory leak in createEventHub"
## Bug description

https://github.com/30-seconds/30-seconds-of-code#createeventhub-

on creates an array, off never removes it

## Steps to reproduce

Run this code

[code]

## Expected behavior

Expected to see the number 0

## Example where it is solved

https://github.com/GrosSacASac/event-e3/blob/master/EventEmitter3.mjs#L81

[2019-04-12 16:23] GrosSacASac commented on #950
objectFromPairs --> Object.fromEntries
objectToPairs --> Object.entries

[2019-04-12 16:38] GrosSacASac commented on #901
The current description is still

The original reason Map and Set use size instead of length is for backwards compatibility, with old libraries that check for length

[2019-04-12 16:43] GrosSacASac opened #953 "isPlainObject does not work with prototype less objects"
## Steps to reproduce
isPlainObject(Object.create(null)); // false

## Expected behavior
isPlainObject(Object.create(null)); // true

[2019-04-13 07:13] skatcat31 commented on #953
a Plain Object is defined as an object that has been created using the Object literal syntax or `new Object()`(Plain Old JavaScript Object).

Object.create(prototype) is not considered to use the Object literal or new Object() syntax, and thus is not a Plain Object

[2019-04-13 07:13] #953 closed

[2019-04-13 07:15] skatcat31 commented on #901
good catch. Will open PR

[2019-04-13 07:16] skatcat31 commented on #950
We've discussed a few of these. As it stand we need to implement them. If you'd like to open a PR modifying or updating a snippet, feel free to

[2019-04-13 07:18] skatcat31 commented on #952
This would be a great PR!

[2019-04-13 07:22] skatcat31 commented on #951
I'm confused on where it looks like they would be stored as numbers versus string coercion?

[2019-04-13 07:28] skatcat31 commented on #901
Opened PR to update language and remove Map and Set tests

[2019-04-13 13:51] kacperek1234c opened #955 "free money"
## Bug description

## Steps to reproduce

## Expected behavior

## Screenshots

## Environment

[2019-04-13 13:59] #955 closed

[2019-04-19 08:23] zslucky opened #957 "is merge behavior correct?"
Refer the testing code.
![1555661611077](https://user-images.githubusercontent.com/15725589/56415118-51133680-62bf-11e9-8bd9-1b68395f5b29.jpg)

Is this behivor correct?

In my mind, looks like it should be deep merge every object, and return a merged object, not array

[2019-04-19 08:24] zslucky commented on #957
I'm not sure is this as designed?

[2019-04-20 15:43] fejes713 commented on #957
Hey @zslucky! Thanks for mentioning this. 👍

While it may seem weird at first I think this is how it's supposed to be. Lodash has a very similar method as well and their outputs are the same.

You can see more examples at their [docs](https://lodash.com/docs/4.17.11#merge)

Hopefully, this helps 😃

[2019-04-20 15:43] #957 closed

[2019-04-20 15:58] fejes713 commented on #951
@GrosSacASac could you please provide more details regarding this issue?

If this is what bothers you I don't see any problems with it. The output from the 30seconds docs matches the output on the `console`. While Object `keys` are indeed **only** strings their properties could be accessed with numbers too.

<img width="732" alt="Screen Shot 2019-04-20 at 5 49 11 PM" src="https://user-images.githu

[2019-04-20 15:59] fejes713 commented on #951
Hopefully, this helped a bit, if not let's solve this one together 😄

[2019-04-20 16:14] fejes713 commented on #950
@GrosSacASac would you like to update these or want us from 30 core team to do it by ourselves?

Looks like a straightforward process by following our [contributing docs](https://github.com/30-seconds/30-seconds-of-code/blob/master/CONTRIBUTING.md).

[2019-04-20 16:16] fejes713 commented on #936
Haha @skatcat31 yes you did. Yes, Rambda's website looks all right - I am not a huge fan of the design but the functionality is great. I really like the ability to see function params clearly defined.

While it seems like a nice addition some of their features would require us to completely change the structure of our snippets + add some additional data.

I do like this idea for embedding links to

[2019-04-20 16:26] GrosSacASac commented on #950
it is easier if you do it

[2019-04-20 16:35] GrosSacASac commented on #951
I would write:
 where the key-value pairs consist of the **stringified value** as the key and the mapped value

[2019-04-20 19:52] fejes713 commented on #950
Alright. We'll do it. Thanks for mentioning it! 👍

[2019-04-20 19:53] fejes713 commented on #951
Thanks for clarifying this. @skatcat31 this seems like a solid change - should I modify the function docs?

[2019-04-21 02:23] zslucky commented on #957
@fejes713 Thanks, lodash `merge` is similar but not the same, lodash object merge are different, it's deep merge. not only concat into an array.

[2019-04-22 00:01] skatcat31 commented on #951
It's a fair clarification for newer programmers(I've met more than a few who think object literals are Maps)

[2019-04-22 06:33] fejes713 commented on #957
Thanks for clarifying that @zslucky 👍

@skatcat31 @Chalarangelo what do you think? Worth reopening the issue?

[2019-04-28 06:10] USTC-Han opened #958 "about equals function"
## Description

![image](https://user-images.githubusercontent.com/38212028/56859440-96212200-69bd-11e9-84ea-74faf99d1f4b.png)
1、I think the fifth line of code is meaningless.Because if  a is undefined or null ,!a will be true and the code will execute the forth line.  The fifth line will never be executed
2、when a is 0 and b is -0 ,it will return true, but Object.is(0,-0) will return false.

[2019-04-29 10:14] USTC-Han commented on #958
Another question: if I execute equals(new Date(),12),it will return ture.
If I fix Object.prototype to Object.__proto__ ,the code will return false.

[2019-05-22 03:03] OhIAmFine opened #964 "I think it will change the allEqual definition in docs"
As I can see in the README, the allEqual definition is like that:

[code]
But when I test  `allEqual([NaN, NaN])`, it will return false,

I think it need change the definition like that:
[code]
when I test `allEqual([NaN, NaN])`, it will return true as I expect.

I just a poor learner at js, so please point out my mistake if I was wrong.

[2019-05-22 05:23] Chalarangelo commented on #964
That's quite an interesting edge-case, actually, due to the fact that `NaN` is not equal to itself. `Object.is()` seems like a solution, but we should check if it has any other side-effects before changing the `allEqual` method.

In any case, this is a very interesting observation and we should in any case do something about it - either update the code or add a comment about the edge-case.

[2019-05-22 14:05] MrJY commented on #774
nice

[2019-05-23 02:28] OhIAmFine commented on #964
Ok, that's your attention

[2019-05-23 04:32] skatcat31 commented on #964
If we do update the code it would be considered a breaking change because NaN is meant to be not equal to itself. So if we do go to the more "stable" Object.is() then we will need to note it

[2019-05-23 05:27] Chalarangelo commented on #964
@skatcat31 We should add a comment either way. I do agree that `NaN`'s behavior is essentially by-design in this snippet. Maybe we just add a note about it and go our merry way?

[2019-05-23 23:04] skatcat31 commented on #964
Adding a comment either way is a good step, and I think keeping it the way it is now and noting it would be better.

[2019-05-24 07:19] #964 closed

[2019-05-26 03:56] Jak7 opened #965 "I want to learn to code but do not know where to begin."
## Description

[2019-05-26 06:18] #965 closed

[2019-05-29 19:00] vmarchesin commented on #952
I apologize for the messy history. Everything should be in order now. It's my first time contributing here, I'll be more careful next time.

[2019-05-29 20:02] vmarchesin commented on #947
`Set` has a weird behavior where if you apply a `Array.from` (or just spread it) on a `Set` you'll get tuples of `[value, value]` instead of `[key, value]`. To get the correct `[key, value]` tuples you need to apply a second `Array.from`.

Anyone knows why that is? This would also make it hard to create a simple generic method to transform anything into pairs.

[code]

[2019-05-30 06:16] #952 closed

[2019-05-31 21:39] skatcat31 commented on #947
@vmarchesin it's because to a set, a key IS it's identifier and value. Set is an associate iterable where the value is keyed by itself and it has constant time lookup. This is useful for large collections where you need to quickly and consistently look for existence in the Set. `Array.from()` is thus working as expected since the value is it's key. I don't know if always returning the same order a

[2019-06-11 19:54] noahcox2466 opened #983 "games"
## Description

[2019-06-11 19:54] noahcox2466 commented on #983
hello

[2019-06-11 20:20] #983 closed

[2019-06-12 10:16] Chalarangelo commented on #918
Closing due to inactivity. Feel free to comment below or open a PR if you are interested.

[2019-06-12 10:16] #918 closed

[2019-06-12 18:29] cms opened #984 "Simplifying maxDate and minDate functions"
## Description

We can simplify the `minDate` and `maxDate` functions. Both accept an array of dates as an argument. There is an unnecessary usage of the spread syntax, both when receiving the argument in the parameter list, and when passing it to `apply`.

[code]

If we analyze the above function, by invoking it with an array of dates (e.g. `maxDate(array)`), the spread syntax will produce a one

[2019-06-13 05:04] #984 closed

[2019-06-21 03:46] freality commented on #829
Hey all!

Just found (and really like) your project! Great work.

I'd like to through an implementation into the ring. Essentially a modification of a few previous suggestions.
[code]

Also, it strikes me that by adding the default formatterFunction, this function effectively becomes `appendArrayOfItemsToElement`.

Example:
[code]

[2019-06-22 03:19] skatcat31 commented on #829
Man this shows how busy a full time high cognitive load job gets. We should make a final decision on this soon and release the change

[2019-06-29 08:07] vikash-driod commented on #951
kuehgflidsnflksdjf;sdfms

[2019-06-29 09:03] Greenheart opened #990 "Simplify formToObject"
## Description

[formToObject](https://github.com/30-seconds/30-seconds-of-code/blob/master/snippets/formToObject.md) could be simplified to use of two new methods:

[FormData.prototype.entries()](https://developer.mozilla.org/en-US/docs/Web/API/FormData/entries#Browser_compatibility)
[Object.fromEntries()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/fro

[2019-06-29 09:14] Chalarangelo commented on #990
While this is an interesting option indeed, `Object.fromEntries()` worries me for the time being, due to it being a `Draft` still. I will put this on hold and we will revisit it in a few months, when this has moved forward a little bit.

[2019-07-01 05:00] #951 closed

[2019-07-15 14:14] samuelcolburn commented on #829
2 more suggestions:

1. The same as @skatcat31 's most recent `Array.reduce` method but using insertAdjacentHTML instead of innerHTML:
[code]
Reasoning:

Source: [MDN Element.insertAdjacentHTML](https://developer.mozilla.org/en-US/docs/Web/API/Element/insertAdjacentHTML)

2. Similar to @nickforddesign 's suggestion, creates and returns new element instead of manipulating an existing element:
[code

[2019-07-30 20:14] iluwatar opened #1004 "Add link to Java repository"
Hi there! Inspired by this repository I've been working on Java version of it. It's called 30-seconds-of-java and is available here https://github.com/iluwatar/30-seconds-of-java. Would it be possible to add a link to your `README.md` pointing to this repository? Thanks.

[2019-07-31 07:38] iluwatar commented on #1004
By the way, how have you implemented the web site? Is there any documentation I could refer to when setting up my own?

[2019-08-08 13:13] fatedeity opened #1005 "some idea for findLastIndex"
## Description

[code]
For a better experience, add a default value.
[code]

[2019-08-09 19:24] fejes713 commented on #1004
Hey @iluwatar

It's nice to hear that you were inspired by our work :) Kudos for making the Java version of it!

As far as I know, there're few Java-specific versions of original `30-seconds-of-code`. I think it'd be a bit unfair to link one over the another but we'll definitely find a way to do so in the next iteration of the website which is hopefully coming very soon.

Speaking of the website,

[2019-08-09 19:28] fejes713 commented on #1005
Hey @fatedeity

To me, this sounds like a nice improvement from the UX standpoint. Would you like to open a PR by yourself and enhance this?

I'd suggest taking a look at our [contributing docs](https://github.com/30-seconds/30-seconds-of-code/blob/master/CONTRIBUTING.md). Let me know if you need help with anything!

[2019-08-10 09:03] Chalarangelo commented on #1005
Agreed, this seems like a nice improvement. I'd like to have this merged if you submit a PR for it.

[2019-08-12 06:37] Chalarangelo commented on #1005
Resolved in #1006

[2019-08-12 06:37] #1005 closed

[2019-08-18 20:07] razinda8 commented on #1004
Branches:Master/Rizanda8/Hello World/
Add link to java repository #1004

[2019-08-21 20:24] carlos-montiers opened #1008 "deepClone convert null to plain object"
## Bug description
If you clone an object that have properties with null value, the cloned object have the property with a plain object as value.

## Steps to reproduce
[code]

## Expected behavior
`// {a: null}`

[2019-08-21 20:39] carlos-montiers opened #1009 "deepClone loses prototype.constructor"
## Bug description
If you clone an object that have prototype constructor from a class, the cloned object have Object as the prototype constructor instead of the class.

## Steps to reproduce
[code]

## Expected behavior
[code]

[2019-09-02 03:14] thamara opened #1014 "isUpperCase has incorrect example"
## Bug description
In isUpperCase example we see:

[code]

## Steps to reproduce
Check isUpperCase example in [README.md](https://github.com/30-seconds/30_seconds_of_knowledge).

## Expected behavior
The code should be:
[code]

[2019-09-02 03:16] thamara commented on #1014
This was actually caught by @Ustice in [here](https://github.com/30-seconds/30_seconds_of_knowledge/pull/62/commits).

[2019-09-02 03:34] #1014 closed

[2019-09-16 08:21] Lucien-X opened #1018 "[Snippet] getAbsoluteUrl"
I found this snippet handy and not included yet.😆
Any suggestions ?
[code]

[2019-09-16 20:29] fejes713 commented on #1018
Hey @Lucien-X 👋

I am not sure I completely understand the functionality of this function.

What does it do differently from accessing `window.location.href`? I tried to run it on this page and I got a wrong result I think:

`window.location.href` got me: `https://github.com/30-seconds/30-seconds-of-code/issues/1018`
while
`getAbsoluteUrl()` got me: `"https://github.com/30-seconds/30-seconds-of-co

[2019-09-18 20:19] Chalarangelo commented on #774
I am closing this one due to inactivity. Glossary might end up in the graveyard sooner or later, as we practically built it and left it there to die, so this whole issue is kind of irrelevant for the long term.

[2019-09-18 20:19] #774 closed

[2019-09-18 20:21] Chalarangelo commented on #936
I want to move on this one now that the new website is live. I will investigate in the coming weeks and report back.

[2019-09-18 20:24] Chalarangelo commented on #947
`Object.entries()` support is 92% as of now. Let's move forward with this when we have the time.

[2019-09-18 20:26] Chalarangelo commented on #950
Closing due to inactivity. `objectToPairs` is discussed under #947, `objectFromPairs` will be implemented in a similar fashion under the same issue and PRs.

[2019-09-18 20:26] #950 closed

[2019-09-18 20:27] Chalarangelo commented on #958
Closing due to inactvity and the snippet having the correct behavior and implementation as-is.

[2019-09-18 20:27] #958 closed

[2019-09-18 20:28] Chalarangelo commented on #990
Closing due to inactivity. Will reopen when these methods are in a better place so to speak.

[2019-09-18 20:28] #990 closed

[2019-09-18 20:29] Chalarangelo commented on #1004
The suggested project hasn't managed to get enough content and/or traffic in the meantime. We are not currently interested in acquiring this asset as part of the organization. However, we will contact you shall we ever decide to move forward with integrating a Java repository into our websites.

[2019-09-18 20:29] #1004 closed

[2019-09-20 02:39] Lucien-X commented on #1018
@fejes713
Sorry, I forgot to leave the use case here.😯

When you have a relative url such as '/30-seconds/30-seconds-of-code',
You can get the absolute url of it depends on the current origin by using
[code]
You can use this way to get rid of the compatibility problem may occur in IE and Opera
[code]

[2019-09-21 14:27] fejes713 commented on #1018
Thanks for clarification @Lucien-X 👍

@Chalarangelo WDYT?

[2019-09-28 10:34] Chalarangelo commented on #1009
This is correct functionality. ES6 classes, when cloned, default to the `Object` prototype. If you want to clone a class instance, `deepClone` should not be used, and you should instead use a different method, such as `Object.create()`. I will see if we should add notes about this and/or an extra snippet for that case.

[2019-09-28 10:34] #1009 closed

[2019-09-28 10:36] Chalarangelo commented on #1008
Resolved in #1010

[2019-09-28 10:36] #1008 closed

[2019-10-09 15:32] A-mirSaleh opened #1025 "I am not being able to use the dropdown function in Bootstrap HTML 4 in Brackets"
I have just started using bootstrap 4 in Brackets editor. I have downloaded the html version and titled it 'bootstraphtml'.
https://github.com/JTruax/bootstrap-starter-template
I was following the w3schools tutorial for it. Here's the link.
https://www.w3schools.com/bootstrap4/bootstrap_dropdowns.asp
And here is my code, from the beginning:

[code]

Thanks to anyone who answers my question in adva

[2019-10-09 15:49] #1025 closed

[2019-10-16 06:38] Chalarangelo commented on #1018
Closing due to inactivity...

[2019-10-16 06:38] #1018 closed

[2019-10-17 00:39] tracker1 commented on #947
IE11 seems to be roughly 1/3 or so of the users... the rest are other users locked on older browsers (which seems wild since they largely self-update), unsure of the source of caniuse metrics though.  It's around 91.5% supported now.  All the same, I'd probably favor Object.entries and reference the MDN Polyfill[0].

[0] https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Obje

[2019-10-17 06:16] Chalarangelo commented on #947
You are welcome to submit a PR updating the snippet to use the native method, as it's well-supported. However, we should keep the existing one in the archive (I think having both snippets with the same name should not conflict, but better rename the archived version to something like `objectToEntries` so that it's a hint that it acts as a polyfill?).

[2019-10-25 06:00] luvsunlight opened #1038 "[Suggestion] Revert example & snippet"
[Suggestion]. It would better if revert example and snippet just like another repo "30-seconds-of CSS".

Like this =>

**ary**
Creates a function that accepts up to n arguments, ignoring any additional arguments.

Call the provided function, fn, with up to n arguments, using Array.prototype.slice(0,n) and the spread operator (...).

eg.

[[2, 6, 'a'], [6, 4, 8], [10]].map(x => firstTwoMax(...x));

[2019-10-25 06:04] Chalarangelo commented on #1038
Thanks for the suggestion. However, most of our userbase indicate the opposite, actually. It is a more common use-case to want a snippet that does something and copy it to use in your project than the opposite.

[2019-10-25 06:04] #1038 closed

[2019-10-30 03:27] 973782523 opened #1039 "The judgment that equals should add NaN is perfect"
const equals = (a, b) => {
  if (a === b) return true;
  if (a instanceof Date && b instanceof Date) return a.getTime() === b.getTime();
  //Add code
  if ([a, b].every(val => typeof val === 'number') && a !== b) return Object.is(a, b);
  //
  if (!a || !b || (typeof a !== 'object' && typeof b !== 'object')) return false;
  if (a.prototype !== b.prototype) return false;
  let keys = Object.keys(a)

[2019-10-31 04:29] #1039 closed

[2019-11-15 06:13] WoodsLiu opened #1043 "objectToQueryString"
Thank you very much for this open source project, I learned a lot, I saw this problem today when I was studying the code.
If the first property value passed into the object is not a string, it is not the desired result.
for example:
[code]
I implemented this myself, which is not optimal code, but it's the cleanest code I can think of right now.
[code]
Hope to improve this method

[2019-11-15 15:35] felixmaduka opened #1044 "I need an offline USSD code"
## Description

[2019-11-15 15:40] felixmaduka commented on #1044
I need an offline USSD code like *123*1# that will be use to convert airtime into cash and transfer it to bank account

[2019-11-15 17:14] #1044 closed

[2019-11-23 05:32] kanhaiyaagrawal01 commented on #1043
Hey @WoodsLiu, I would like to help improve this. Can you please help me with more details

[2019-11-24 12:50] WoodsLiu commented on #1043
oh, as described before, If the first property value passed into the object is not a string, it is not the desired result.
for example:
If the first propery value passed into the object is `null`、`undefined` or `NaN`
[code]
They're all the same answer: `&page=1&size=2kg`, but I think the correct answer should be
`?page=1&size=2kg`, I think this method should omit false values such as `NaN`, `undef

[2019-12-01 02:07] IMHOJEONG commented on #1043
I think this method is fine.
[code]

[2019-12-01 06:00] skatcat31 commented on #1043
I'm not certain it matters that there is an undefined or null or nan in there as long as we coerce it to a proper string. A query parameter being empty is as good as an empty query parameter so I'm not certain it's such a problem. I think we only want to solve that if a value is empty, we get an empty key

[2019-12-03 22:01] jasonralston100 commented on #829
This is the easiest and cleanest way to take a constant array and convert it to an array list with it's inner.HTML. If it were PowerShell I would just use a HTML fragment for the formatting. Not sure what your gaining here. It should output just fine or you could convert to straight xml? this is just output `<li>${item}</li>`

[2019-12-05 03:33] cookch10 commented on #1043
What about nested object attributes and arrays?  Can this be reversed to construct the same object back from the generated query string?

[2019-12-06 18:38] mikeal opened #1051 "merge maps"
I ended up writing this one today. Not sure where it would belong in the snippets but it’s quite useful as it merges Maps without suffering full copies like most of the examples you tend to find.

[code]

[2019-12-09 10:41] Chalarangelo commented on #936
Been a long time since this was opened, we have tried a few things and it feels like it's not something that's absolutely necessary for the user experience. Snippets that really require a playground, like React snippets, get one, while the simpler ones (JS, Python, PHP) get a copy button. I'm closing this topic, as this is our current decision in terms of implementation for multiple reasons.

[2019-12-09 10:41] #936 closed

[2019-12-11 18:18] Chalarangelo commented on #1051
This could be PRed, but I think it's a bit too advanced for the scope of the repo, maybe when we start a blog (finally), it could be a short article that explains everything behind it?

[2019-12-11 18:18] #1051 closed

[2019-12-11 18:36] #1043 closed

[2019-12-11 19:35] mikeal commented on #1051
Sure, I’d be down to write that up. Ping me once you have the blog setup ;)

[2019-12-12 14:35] logankilpatrick opened #1056 "Add 30-seconds-of-Julia"
Hey all,

It would be awesome to spin up a 30 seconds of Julia repo. Happy to take the lead on this.

Julia has been downloaded over 10 million times and the popularity is increasing significantly over time.

www.julialang.org

https://docs.julialang.org/en/v1/

[2019-12-12 14:43] travelingBug commented on #1056
nice !the luck with 30-second! 发自我的华为手机-------- 原始邮件 --------发件人： Logan Kilpatrick <notifications@github.com>日期： 2019年12月12日周四 晚上10:36收件人： 30-seconds/30-seconds-of-code <30-seconds-of-code@noreply.github.com>抄送： Subscribed <subscribed@noreply.github.com>主    题： [30-seconds/30-seconds-of-code] Add 30-seconds-of-Julia (#1056)Hey all,
It would be awesome to spin up a 30 seconds of Julia repo. Happy t

[2019-12-12 14:49] Chalarangelo commented on #1056
We are currently looking into new languages to add to the organization, as we have recently created proper tools to integrate new content repositories much faster. New repositories should be created inside the organization, so we can properly curate and update them. However, we currently lack the technical knowledge in this specific language.

If we decide to move forward with this, I would like t

[2019-12-12 14:56] logankilpatrick commented on #1056
I will be able to help out until October of 2020! I have been using Julia at NASA since October 2017 and am currently helping out with multiple Julia open-source projects + Interning with Julia Computing on the PumasAI project.

Happy to help with maintenance and I can make 20-25 snippets.

Helping people and being nice is half the fun!

So, yes, yes, yes, yes, and yes! Let me know how you want to

[2019-12-12 15:02] Chalarangelo commented on #1056
@logankilpatrick We'll get back to you very very soon, hang on tight!

[2019-12-13 22:12] vsemozhetbyt opened #1057 "Order for cards"
Previously, in GitHub README.md  or in the site, the snippets were sorted alphabetically. That as handy for casual consecutive reading. Currently, we have only the site with cards in a hardly understandable order. Can the alphabetical order be restored?

[2019-12-14 07:52] Chalarangelo commented on #1057
The current order is based on a recommendation engine we recently implemented. We will look into adding alphabetical order as an alternative sorting option.

[2019-12-16 17:53] logankilpatrick commented on #1056
any update on this?

[2019-12-17 09:08] Chalarangelo commented on #1056
@logankilpatrick I will start doing the necessary work to start such a repository in an hour or two:

- Create a repository under the organization.
- Set up the repository properly.
- Set up the repo's snippet template.
- Create a team under the organization.
- Invite you to the organization.

After that point, you will be able to contribute snippets. You will most likely have read access to the r

[2019-12-17 10:18] Chalarangelo commented on #1056
@logankilpatrick Welcome aboard! Start working on PRs and stuff and I will review them as soon as I have time. :tada: :tada: :tada: :tada: :tada:

[2019-12-17 10:19] logankilpatrick commented on #1056
Awesome. What is the general Consensus on porting examples between language? Is that encouraged?

[2019-12-17 10:20] Chalarangelo commented on #1056
@logankilpatrick Mostly, yes. The only issue would be snippets that are already implemented in the language natively (e.g. if isEven exists in Julia, don't port it). It's usually the first place we start looking for snippets and it's also easier to set up properly. Remember to follow the best practice and naming rules of your language to minimize review work and necessary changes.

[2019-12-17 10:24] logankilpatrick commented on #1056
Okay, awesome. I am traveling all day today and wrapping up finals but I will try to get some PR's open later this week. Thanks again!!

[2019-12-17 10:24] #1056 closed

[2019-12-18 21:59] seanzamora opened #1059 "BOT Spam"
## Description

To start off keep up the great work sharing all these helpful snippets with the community, much appreciated.

It appears the lock[bot] is mass spamming everyone's email. Can you please disable the notification so we don't get bombarded with emails. Thanks in advance.

[2019-12-19 00:28] Savagelife5150 commented on #1056
Unsubscrine

[2019-12-19 00:28] Savagelife5150 commented on #1056
Unsubscribe

[2019-12-19 01:25] kpotter83 commented on #1056
﻿
Unsubscribe

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-12-19 01:31] justchen1369 opened #1060 "Alternative way to check equality for allEqual"
There is an alternative way to check equality for `allEqual`:

[code]

[2019-12-19 03:10] Chalarangelo commented on #1059
Uhm, I think the notification setting is based on personal preference instead of repository setting - correct me if I am wrong. We are really sorry about this, it should stop very soon when it processes everything.

[2019-12-19 07:10] Chalarangelo commented on #1059
Just muted the lock[bot], should be ok now. Sorry for the inconvenience.

[2019-12-19 07:10] #1059 closed

[2019-12-19 12:22] kpotter83 commented on #1060
STOP FUCKING EMAILING ME!

﻿
We would appreciate it if you could provide us with some more information about this issue/PR!

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-12-19 13:10] Chalarangelo commented on #1060
This seems like a valid option, I will perf this in a bit and see if it is any better.

[2019-12-19 13:18] Chalarangelo commented on #1060
Based on [this benchmark](http://jsben.ch/rTzBA) the existing implementation is faster apart from being easier to read. Closing on that basis.

[2019-12-19 13:18] #1060 closed

[2020-01-07 07:03] sagar-gavhane opened #1069 "useAsync hook"
---
title: useAsync
tags: react,intermediate,hook
---

The `useAsync` hook is used to bind asynchronous call and handle different states like loading, error, and value. According to state of an asynchronous call, we can render different states of asynchronous calls like loading, error and value state.

**Explanation:**
In `useAsync` hook we need to pass the handler function and that will be after

[2020-01-09 16:03] celwell opened #1071 ""remove" (for JS arrays) updated version"
Hey,

Here is an improved (I think) version of this snippet (https://www.30secondsofcode.org/js/s/remove):

[code]

**Please let me know if I should move forward with a PR.**

NOTE: The `index` and `array` args to the function seemed superfluous and just incidental to the original implementation, but I might be able to keep them if necessary. Also, I would suggest making this function do the oppos

[2020-01-09 17:26] Chalarangelo commented on #1071
Hello, thanks for the suggestion.

However, `remove` mutates the original array, which is the intended behavior. This might not be communicated properly at this time, which is why I would suggest to update the description to something more like:
[code]

This would definitely benefit the snippet and not alter its behavior which is intentional.

[2020-01-19 17:36] hanzohasashi33 opened #1076 "Joining Organisation"
I am a student from India(studying in IIIT-B) and would know how to join this organisation.
May I please know the criteria ?

[2020-01-19 22:04] Chalarangelo commented on #1076
Hey, there. We are currently not accepting new maintainers. However, you can follow the repository so you get notified if we open a call for maintainers at a later time. Thank you.

[2020-01-19 22:04] #1076 closed

[2020-01-31 10:28] remylenoir opened #1080 "getScrollPosition | Wrong properties choices"
## Bug description
Wrong properties choices of `scrollLeft` and `scrollTop` in the ternary operator.

The Window object does not have these properties, see [Window - Web APIs | MDN](https://developer.mozilla.org/en-US/docs/Web/API/Window).
The Element object does,  see [Element - Web APIs | MDN](https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollLeft).

[code]

[2020-01-31 14:22] Chalarangelo commented on #1080
I am not entirely certain of the original intention here, but as far as I can tell, the ternary implies that it will use `pageXOffset` and `pageYOffset` if available, which they are for `window` instead of `scrollLeft` and `scrollTop`. Therefore, I think the choice here is intentional to accept either the window or an element.

[2020-02-01 12:10] Chalarangelo opened #1082 "30 seconds of code User Demographics survey"
:wave: :wave: :wave: :wave:
Hey everyone!
We are trying to gather data to learn more about our users and better understand their needs. We would be very happy if you could answer [this very short survey](https://forms.gle/AfhkB5phKcSPvs7X7)!

[2020-02-03 11:36] #1082 closed

[2020-02-03 12:57] remylenoir commented on #1080
I see, my assumption was that the computed element would always be the `window`.

In the context of a project with TypeScript and TSLint, if the intention is to compute the `window`, the ternary alternative options would not be valid, because these options will be tested. And then we are back on my initial message above (with invalid properties for the Window object).

I understand that is 30 sec

[2020-02-03 13:05] Chalarangelo commented on #1080
@remylenoir We're currently revising a lot of the code and examples, making sure everything is up to date and high quality, so we will take a look sooner or later. Thanks for the feedback!

[2020-02-06 14:58] #1080 closed

[2020-02-07 21:14] tomtargosz opened #1084 "luhnCheck is incorrect"
## Bug description

The `luhnCheck` function is incorrectly implemented, as well as one of the unit tests. The number `5105105105105100` should pass but does not. Additionally, the test that's asserting `6011329933655299` should be falsy is incorrect, that value should be truthy: https://github.com/30-seconds/30-seconds-of-code/blob/e9645c3b965df73f9e068c970af368e971dbedbf/test/luhnCheck.test.js#L

[2020-02-08 11:13] #1084 closed

[2020-02-09 07:11] vkv88 commented on #829
Hi   I  would like to   add something**:**
**.**using a  classic  for loop  will be  more efficient   than  a  reduce function  especially when converting big array .
by the way this is my first  contribution on GitHub👶
also   i'm writing   a new  snippet right now   any suggestion other than what's mentioned in the contribution Guideline

[2020-02-17 12:47] akdnfbf opened #1086 "."
.

[2020-02-17 13:42] akdnfbf opened #1087 "."
.

[2020-02-17 13:48] VISWESWARAN1998 commented on #1087
This is a spam. Please close it.

Wrote a small script to automate the reporting, Just like the spammer did.

Script here: https://gist.github.com/VISWESWARAN1998/cf74dd0890534ad3e72f326e46460cd3

Regards,
Visweswaran N

[2020-02-17 13:48] VISWESWARAN1998 commented on #1086
This is a spam. Please close it.

Wrote a small script to automate the reporting, Just like the spammer did.

Script here: https://gist.github.com/VISWESWARAN1998/cf74dd0890534ad3e72f326e46460cd3

Regards,
Visweswaran N

[2020-02-17 14:44] helen119 opened #1088 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 15:05] #1088 closed

[2020-02-17 19:13] heken375 opened #1089 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/rupocj5

[2020-02-17 19:24] #1089 closed

[2020-02-18 20:06] Chalarangelo opened #1092 "Update explanation for mapObject"
[mapObject](https://www.30secondsofcode.org/js/s/map-object/)'s explanation is not up to standards with our current format. It should be updated to match the rest of the snippets.

We could also make the example a one-liner.

[2020-02-19 12:23] ashmna opened #1093 "🐛 JS toCamelCase case with SOME_UPPER_SNAKE_CASE"
## Bug description
JS toCamelCase case with 'SOME_UPPER_SNAKE_CASE'

## Expected behavior
convert to 'someUpperSnakeCase'

[2020-02-19 12:28] ashmna commented on #1093
I have a working solution

just change regex from `/[A-Z]{2,}(?=[A-Z][a-z]+[0-9]*|\b)|[A-Z]?[a-z]+[0-9]*|[A-Z]|[0-9]+/g` to `/[A-Z]{2,}(?=[A-Z][a-z]+[0-9]*|\b|[_])|[A-Z]?[a-z]+[0-9]*|[A-Z]|[0-9]+/g`

Not sure that it is a good solution

[2020-02-19 13:07] Chalarangelo commented on #1093
Thanks for pointing this one out!

The regex might work but is still ridiculously long, we should either decide if this is a `wontfix` or actually find a shorter one that makes sense.

[2020-02-19 13:16] ashmna commented on #1093
Sure regex is long but it has educational value,
and there is can't be any compromise ;) in my option, the function must do his work correctly, I mean no one has to convert the string before calling such useful function

[2020-02-19 14:12] Chalarangelo commented on #1093
We usually try to strike a balance between common use-cases and brevity, such a regexp is impossible to use in the current format as it's not understandable in 30 seconds (or even 5 minutes) or less. I suggest we add a disclaimer about the string needing to be converted in such a case and I might write a blog later.

[2020-02-21 08:08] #1093 closed

[2020-02-28 21:02] aquine-kujaruk opened #1094 "Improvements in the efficiency of the GCD algorithm for javascript"
const gcd = (arr) => {
    const current = Math.min(...arr);
    const proc = (arr, current) => arr.filter(x => x % current !== 0).length === 0;
    const _gcd = (arr, current) => proc(arr, current) ? current : _gcd(arr, --current);
    return (current <= 1) ? 1 : proc(arr, current) ? current : _gcd(arr, Math.floor(current / 2));
}

[2020-03-02 17:06] #1087 closed

[2020-03-02 17:06] #1086 closed

[2020-03-03 17:58] Prottoy2938 opened #1097 "Add Data Structure and Algorithms"
## Add Data Structure and Algorithms

Data structures are needed when developing advanced applications. Often it's hard to find the code for a data structure. It would be better if 30 seconds of code can provide small snippets of useful data structures. If this feature is accepted, I can contribute a couple of data structures and some common algorithms.

[2020-03-03 19:55] Chalarangelo commented on #1097
Thanks for the feedback!
We have plans to add content like that in the future, however this might be a long ways down the road, as we decide on formats and guidelines. I will close the issue for now, as this might reside in a different repository and requires org-wide changes to be implemented.

[2020-03-03 19:55] #1097 closed

[2020-03-04 18:08] Prottoy2938 opened #1098 "AutoComplete Algorithm for Search Bar"
## AutoComplete Algorithm for https://www.30secondsofcode.org/ search bar

I can provide an algorithm, which would be able to give users related search suggestions based on the words that they typed on the search field. It would be pretty helpful for users, as they can see what kind of result they can get before they searched.

It would be similar to this: https://ingredient-d4129.firebaseapp.com/

[2020-03-05 06:22] Chalarangelo commented on #1098
Thanks for the interest. However, due to certain implementation constraints, we have decided against this feature as it will significantly impact client-side performance across the website.

[2020-03-05 06:22] #1098 closed

[2020-03-07 03:02] snakeUni opened #1100 "support typescript"
Whether typescript can be supported？

[2020-03-07 19:18] Prottoy2938 opened #1103 "Looks like `p-side_a` and `p-side_c` is not defined in heronArea.md file"
## Undeclared file on heronArea.md file

 I think  `p-side_c` and `p-side_a` hasn't declared in the heronArea.md file. Same is true for all of its reference and test files.

[2020-03-07 20:01] ezracelli commented on #1092
Perhaps a simpler implementation:

[code]

[2020-03-11 21:54] floods-technology opened #1104 "I throwing your discussion on every aspect of cyberspace and information technology"
## Description

I'm going to uninstall Windows 10 and install Linux on my laptop.

[2020-03-11 22:24] floods-technology commented on #1092
https://github.com/30-seconds/30-seconds-of-code/issues/1092#issuecomment-596132421

[2020-03-12 01:49] JaunJacobs44 opened #1105 "Beginner but want to learn"
Why is mt phone being invaded by im thinking Gidhub ppl and huawei.  Changeing programfiles and every file i download.  Isnt it harasment?

[2020-03-12 06:46] #1105 closed

[2020-03-12 06:47] #1104 closed

[2020-03-14 19:51] Prottoy2938 opened #1107 "Why md files are rendered as html in React applications"
## Looks like `.md` files are rendered as HTML in this application

I had browsed around this codebase and it looked like **.md** files are loaded as `HTML` in the browser. I have seen the same patterns for  [_Dan Abramov_'s](https://overreacted.io/) blog. I am still new to React, so I don't get this pattern.
 Why are these projects are using **.md** files? Why is there are no regular react compon

[2020-03-15 09:30] Chalarangelo commented on #1107
Hey, our infrastructure is a bit more complex than just this repository. Check [30-seconds-web](https://github.com/30-seconds/30-seconds-web) to see the engine powering the website, which is n turn based on [Gatsby](https://www.gatsbyjs.org/) which is responsible for the MD -> HTML conversion. Cheers!

[2020-03-15 09:30] #1107 closed

[2020-03-16 17:11] #1071 closed

[2020-03-23 13:11] #947 closed

[2020-03-24 18:53] icncsx commented on #1092
@ezracelli did you make a PR?

[2020-04-02 05:42] AtharvaThorve opened #1115 "Issue in installation of integration-tools"
## Description

When I try to install the integration tools as shown in [Contribution guidelines](https://github.com/30-seconds/30-seconds-of-code/blob/master/CONTRIBUTING.md) the installation always fails.
Error when using the command `npm install -g @30-seconds/integration-tools`:
[code]
Error after giving root/administrator permission `sudo npm install -g @30-seconds/integration-tools` was:
[co

[2020-04-02 07:18] is-liyiwei opened #1116 "javaScript nest method bug - ( has example demo )"
## Bug description

## Steps to reproduce

This is example demo ！

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<body>

</body>
<script>

	// My English is poor, but I hope you can understand

	// I found a bug

	// bug method url: https://www.30secondsofcode.org/js/s/nest/

	// javaScript - nest method

	// bug code
	// comments_bug data is wr

[2020-04-03 08:06] 117028813 opened #1118 "https://www.30secondsofcode.org/js/s/reject/"
## Description
https://www.30secondsofcode.org/js/s/reject/

Filters an array's values based on a predicate function, returning only values for which the predicate function returns true.

this description is wrong.

It should be:
Filters an array's values based on a predicate function, returning only values for which the predicate function returns false.

[2020-04-03 08:47] Chalarangelo commented on #1118
From what I see, you are correct. Please open a PR for it, if you have the time, I will review it shortly.

[2020-04-03 16:08] rakeet commented on #1118
. 
    On Friday, April 3, 2020, 04:49:27 AM EDT, Angelos Chalaris <notifications@github.com> wrote:

From what I see, you are correct. Please open a PR for it, if you have the time, I will review it shortly.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-04-04 13:54] #1118 closed

[2020-04-07 09:00] 117028813 opened #1123 "https://www.30secondsofcode.org/js/s/is-sorted/"
## Description

https://www.30secondsofcode.org/js/s/is-sorted/
This description is wrong:
Returns 1 if the array is sorted in ascending order, -1 if it is sorted in descending order or 0 if it is not sorted.
I think it should be:
Returns positive if the array is sorted in ascending order, negative if it is sorted in descending order or 0 if it is not sorted.
because I found:
`isSorted([0, 2, 4]);

[2020-04-07 11:08] Chalarangelo commented on #1123
The description is correct in describing the desired behavior. This is an issue in the implementation, instead. We could most likely evaluate why this is happening or just divide by the absolute value of `direction` to return the correct result. It's worth investigating and/or testing more in-depth before moving forward with a PR.

[2020-04-08 05:31] 117028813 commented on #1123
[code]
Is this OK?

[2020-04-08 09:02] Chalarangelo commented on #1123
@117028813 seems about right to me, you can PR it!

[2020-04-08 14:02] #1123 closed

[2020-04-09 12:36] Chalarangelo opened #1125 "Deprecate archive"
Most repos in the org do not have archives and for good reason. We will be deprecating the archive system both on the repository, tools and website soon. The final sundown will probably be towards the end of April.

I will personally check all existing snippets and evaluate if we should keep some of them or migrate them to the core repo. [Sister task in 30-seconds-web](https://github.com/30-second

[2020-04-09 14:14] MisterT20 opened #1126 "The availability of modifying the URL without reloading the page."
In the article "How do I use JavaScript to modify the URL without reloading the page?", I came across the code to dot this. For some reason it doensn't work for multiple API's. Is there a way to fix this?

[2020-04-10 03:27] polominsk opened #1127 "Web accessibility development"
I would like to create a session to just talk about web accessibility development.

[2020-04-10 06:52] Chalarangelo commented on #1127
Hey there. Accessibility has been on our radar as a topic for quite some time, however we currently lack the infrastructure/repos to tackle it. We will eventually open a repository for the topic and/or add some blogs, so stay tuned for that. If you want to contribute, you can follow the org in general and you'll see when/if we start such as project. Thank you.

[2020-04-10 06:52] #1127 closed

[2020-04-10 18:28] aswar464 opened #1128 "#Disat Aku Tersakiti"
## Bug description

## Steps to reproduce

## Expected behavior

## Screenshots

## Environment

[2020-04-10 19:58] #1128 closed

[2020-04-10 20:00] aswar464 opened #1129 "#Tak kan pisah"
## Description

[2020-04-10 20:13] aswar464 opened #1130 "#suka sama kamu"

[2020-04-11 09:49] #1130 closed

[2020-04-11 09:50] #1129 closed

[2020-04-14 04:06] anuragnatoo opened #1132 "Add 30-seconds-of-C++"
## Description

Hey all!
It would be great to have a **30-seconds-of-C++** repository.
C++ is also used in competitive programming where snippets of small functions for example gcd of two numbers,checking primality of a number etc. are required.
We can also add  some **templates** which can be used in competitive programming in C++.

[2020-04-14 06:06] Chalarangelo commented on #1132
Hey, there. Thanks for the suggestion!

We currently lack the manpower and expertise to do so, apart from the fact that most of our community seems to be mainly involved in webdev and interested in languages such as JS, CSS, React and Python for the most part, which is why we have put new language projects on hold for a little while.

[2020-04-14 06:06] #1132 closed

[2020-04-14 06:59] anuragnatoo commented on #1132
Okay! I will always be ready to contribute to the C++ project if its developed in the future

[2020-04-15 15:32] #1092 closed

[2020-04-15 16:46] Chalarangelo commented on #1100
Hey there! We currently have no plans to support TypeScript, but we might in the future. Stay tuned for updates, if you are interested in contributing.

[2020-04-15 16:46] #1100 closed

[2020-04-15 17:05] Chalarangelo commented on #1094
Thanks for the idea. The current implementation is far easier to read and comprehend, even if less performant. I think we should stick to the existin solution as it also handles variadic arguments, too.

[2020-04-15 17:05] #1094 closed

[2020-04-15 17:23] #1116 closed

[2020-04-15 17:25] Chalarangelo commented on #1103
We are deprecating the snippet archive, so `heronArea` will be removed alongside other snippets. Refer to #1125 for more information. Thank you.

[2020-04-15 17:25] #1103 closed

[2020-04-15 18:36] meysam81 commented on #829
After reading through all the comments and the previous [PR](https://github.com/30-seconds/30-seconds-of-code/issues/675), I would also suggest returning just the HTML and letting the developer decide what to do with it. As the name also suggests "array to **html list**". It does not imply anything about changing the DOM.

peace :v:

[2020-04-15 19:01] Chalarangelo commented on #829
@meysam81 I think we will probably stick with that and maybe add a blog for clarification/exploration on the subject.

[2020-04-16 08:34] #1125 closed

[2020-04-17 02:36] Lucien-X opened #1137 "【VSCode Plugin】Any idea about TypeScript support?"
First of all, thanks for your contribution, this repo is really helpful for my daily develop🎉🎉🎉.

I was using [this](https://marketplace.visualstudio.com/items?itemName=30-seconds.30-seconds-of-code) vscode plugin for snippets support.

I follow the guideline, get all the necessary config done.

Unfortunately, this plugin only work with files with '.js' extention. ╮(╯▽╰)╭

**Is there any way, to c

[2020-04-17 05:43] Chalarangelo commented on #1137
Hey there. The VS Code plugin has been discontinued for a while now... Sorry for the inconvenience.

[2020-04-17 05:43] #1137 closed

[2020-04-17 11:56] Chalarangelo commented on #829
I'm closing this and will probably add a blog soon to clarify and explore ideas from this thread.

[2020-04-17 11:56] #829 closed

[2020-04-20 06:29] Liar0320 opened #1139 "https://www.30secondsofcode.org/js/s/deep-map-keys/"
[code]
In this code snippet the Function **f** be executed twice。
In my opinion
In terms of efficiency, it's enough to execute once,
In terms of problem, there will be unpredictable errors, if the function has specific functions.
   just like this
[code]

[2020-04-20 08:06] #1139 closed

[2020-05-01 22:38] adarsh0d opened #1140 "Created an app with JSONs available"
I created an app with the data available in github repo,
You should check, it works completely offline, hence useful while preparing for last minute or during travelling.

I hope owners of data don't mind, else I will take it off.

https://play.google.com/store/apps/details?id=com.wolfpack.seccode

[2020-05-02 06:10] adarsh0d opened #1141 "Created an app with JSONs available"
I created an app with the data available in github repo,
You should check, it works completely offline, hence useful while preparing for last minute or during travelling

https://play.google.com/store/apps/details?id=com.wolfpack.seccode

[2020-05-02 06:10] #1141 closed

[2020-05-02 06:10] #1140 closed

[2020-05-02 06:12] Chalarangelo commented on #1140
We would rather that people used the website itself as we can ensure that all of the information is up to date and also they can get the latest posts and snippets. :wink:

[2020-05-11 13:58] sQVe opened #1145 "Snippet data in JSON"
Hey :wave:,

I'm the maintainer of both https://github.com/sQVe/30s and https://github.com/sQVe/30-seconds-of-code-ultisnips, which are not unable to update due to the lack of `snippet_data/snippets.json`.

Do you have any recommendations on how custom clients could consume the snippets provided here? It would be a shame if the previously provided JSON format was removed.

:pray:

[2020-05-11 17:18] Chalarangelo commented on #1145
Unfortunately we have moved most of the logic and systems to our integration pipeline as the main objective is to be able to publish and distribute code snippets via the website and this sped up development on that immensely. I'm afraid that if you want to extract JSON data you would have to write your own extraction logic and make sure that everything is up to date whenever we change formats in t

[2020-05-11 18:33] sQVe commented on #1145
@Chalarangelo Alright. I can see the reasoning behind this but it excludes a alternative ecosystem. It also deprecates the current `npm` package.

[2020-05-11 20:19] Chalarangelo commented on #1145
The npm package is discontinued due to the fact that it was technically never updated and that we cannot maintain consistent enough performance and quality so that we are both a learning resource and a package, so it didn't make the cut. It was, like many other things, an experiment that failed to keep up due to lack of interest and manpower.

We are more focused on the website, as a narrower scop

[2020-05-11 20:19] #1145 closed

[2020-05-14 17:17] manukdup commented on #1145
Good delete my duplicates accounts.

[2020-05-16 19:12] avijain10 opened #1148 "HTML tab"
If you have two elements of frontend i.e., CSS and Javascript, then you should even add HTML.
If you agree to this, i can send the snippets for all the basics of HTML.
Please consider this and give my chance to step into it.
Thank you.

[2020-05-18 05:47] Chalarangelo commented on #1148
Hey there!

HTML has been discussed in the past and the reality is that there is very little not covered in already existing resources, therefore we will let others who already handle this topic well handle it instead of repeating the very same thing.

[2020-05-18 05:48] #1148 closed

[2020-05-21 02:32] dudgh107 opened #1151 "test"

[2020-05-21 05:41] #1151 closed

[2020-05-31 08:36] Ritwik880 opened #1152 "Adding window.onload function"
In the heading section we can use a window.onload function like

window.onload = function () {
--
  | console.log("loaded")
  | var typed = new Typed('#typed', {
  | strings:["Welcome to 30 Seconds of code", "Learn Javascript here"],
  | backSpeed: 15,
  | smartBackspace: true,
  | backDelay: 1200,
  | startDelay: 1000,
  | typeSpeed: 25,
  | loop: true,
  | });
  | };

[2020-06-01 05:45] #1152 closed

[2020-06-05 13:16] abdelrahmanahmed opened #1153 "Add 30-seconds-of-bash"
Nice idea btw, is it possible to add bash section?

[2020-06-11 12:23] pawarashish564 opened #1157 "I want to add Java section"
You have different section of languages  for 30-seconds of code such as Python , JavaScript .
I want to add a new section called **Java 8** . See  [my repo](https://github.com/pawarashish564/30seconds-of-Java-8). Can Anyone help me doing that ?

[2020-06-11 20:46] petebdeblois opened #1158 "Uninstall extension, still get suggestions"
Hi

I uninstall the extension a whil back, but when I type, I still get the suggestions
I tried installing and uninstalling again, same issue.
![Code_Y5nXJDH8IS](https://user-images.githubusercontent.com/20261852/84437461-052dfa00-ac03-11ea-8806-bdce5570a2d8.png)

Not sure if that's intended

[2020-06-12 05:47] Chalarangelo commented on #1158
Hello,

We are not affiliated with the extension and thus we cannot help with this issue. Please message the creator or file an issue in their repository to figure this out.

Thank you

[2020-06-12 05:47] #1158 closed

[2020-06-19 12:59] shanyuhai123 opened #1161 "some idea for clampNumber"
[code]
The description:
Clamps num within the inclusive range specified by **the boundary values a and b**，so maybe change `a`、`b` to an array will be easier to understand.

[code]

[2020-06-19 13:01] Chalarangelo commented on #1161
Thanks for the suggestion. As this is a breaking change and we want to keep the snippet an easy drop-in replacement for existing libraries, we'll leave it as is.

[2020-06-19 13:01] #1161 closed

[2020-06-30 17:14] petebdeblois commented on #1158
Maybe you should report it because every links on the extensions bring me here
https://marketplace.visualstudio.com/items?itemName=30-seconds.30-seconds-of-code
Issue ; https://github.com/30-seconds/30-seconds-of-code/issues

Publisher https://marketplace.visualstudio.com/publishers/30-seconds
https://30secondsofcode.org/ | 30secondsofcode@gmail.com

[2020-06-30 17:16] petebdeblois commented on #1158
You even made an announcement about it
https://github.com/30-seconds/30-seconds-of-code/issues/722#issuecomment-445311028

[2020-06-30 21:40] Chalarangelo commented on #1158
@petebdeblois Sorry, thought you meant the Chrome extension, my bad. The VSCode extension is discontinued for a while now, I think you manually have to remove any saved snippets from the extension or perform a clean install of VSCode.

[2020-07-03 02:53] MangoTsing opened #1163 "About the translated version"
Hello administrator, I can provide a Chinese translation version so that all Chinese readers can easily read and can also contribute to the project.
Do you have the will to provide internationalization?

[2020-07-03 06:13] Chalarangelo commented on #1163
Thanks for the offer. We have discussed this in the past, however it's very hard to maintain, curate and ensure high quality and consistency for translations, so we have decided against this. If we ever decide to start adding translations, Chinese will probably be the first one we'll consider, so stay tuned!

[2020-07-03 06:13] #1163 closed

[2020-07-07 14:27] henrycjchen opened #1164 "variable inThrottle in snippets <throttle>"
why there is a variable named "inThrottle" in snippets `throttle`?
"inThrottle" is true only at the begining, what is the purpose of it?

[2020-07-08 06:24] Chalarangelo commented on #1164
The `inThrottle` variable is used to initialize the throttling if I remember correctly - it's been a while since we wrote this snippet. I'll take a deeper look and figure it out, so that we can update the description, if possible as well.

[2020-07-11 19:15] skatcat31 commented on #1164
[code]

it's to prevent temporal race conditions between first evocation, and next loop racing each other and putting multiple timeouts, leading to a memory leak, event loop garbage, and overall awful time(heh)

[code]

if called multiple times, and a temporal race occurs, it would start leaking memory every evocation because when it goes to clear a Timeout it would not have the oldest evocation.

[2020-08-05 12:54] tbasse opened #1175 "js - unflattenObject: fails to correctly restore nested properties"
The `unflattenObject` function works fine with the provided example

[code]

But it won't work as expected on `{ 'a.b': 1, 'a.c': 2, d: 3 }`, returns an object with `a.b.` missing.
It also throws on nested values that are not numbers like `{ 'a.b': 'foo', d: 3 }`, results in `Unexpected token in JSON`.

See https://runkit.com/tbasse/5f2a9929c9b5c9001a4d3a6e for some tests

[2020-08-05 13:10] tbasse opened #1176 "js - flattenObject: throws on null values and omits date objects"
flattenObject omits date objects in the flattened result
`flattenObject({ a: { b: new Date() } }) // result: {}`

flattenObject throws when nested properties are `null`
`flattenObject({ a: { b: null }, d: 1 }) // TypeError: Cannot convert undefined or null to object`

See https://runkit.com/tbasse/5f2aaca10f979f00194eb236 for test cases

[2020-08-07 11:45] Sparkadelic177 commented on #1176
If noone is not working on this, I would like to take a stab at it.

[2020-08-07 13:07] Chalarangelo commented on #1176
@Sparkadelic177 Sure, go ahead. Make sure to write `Resolves #1176` in the PR description and follow the guidelines. Happy coding! :smiley:

[2020-08-07 15:31] Sparkadelic177 commented on #1175
I'll like to take a look at this issue.

[2020-08-10 05:58] Chalarangelo commented on #1175
@Sparkadelic177 Sure, go ahead! :ok_hand:

[2020-08-10 06:04] #1176 closed

[2020-08-15 19:59] arin11 opened #1181 "I am spam"

[2020-08-15 20:18] #1181 closed

[2020-08-16 15:01] henrycjchen opened #1183 "why deepClone do not use clone but obj"
In the `snippets/deepClone`, there is a case to return `Array.from(obj)`, which make the clone object useless, is it correct to do so?

[2020-08-18 00:36] NorthSeacoder opened #1184 "about translate these articles"
Hello administrator,can I translate these articles and use them in my github repo or blog?I will show article's author and source above it

[2020-08-18 08:31] Priyansh2001here opened #1185 "Add streaming http response snippet"
Its not a issue but its a feedback , Include one line code to deal with streaming http response

[2020-08-18 09:15] Chalarangelo commented on #1185
Thanks for the feedback. Could you provide some links or more information about this? We'd be happy to tackle it, if we can.

[2020-08-18 09:43] Priyansh2001here commented on #1185
https://github.com/Priyansh2001here/StreamingHttpResponse/blob/master/StreamingHttpResponse/apps/stream/templates/stream/index.html

i got this , I was searching for projects based on StreaminHttpResponse in dango and i found this hope it will help you

[2020-08-19 01:56] #1184 closed

[2020-08-28 14:28] yinsang opened #1191 ""aperture" has another simpler writting"
[code]
better than
[code]

[2020-08-28 15:44] Chalarangelo commented on #1191
Thanks for the suggestion. This looks promising. We should verify if there are any edge cases and proceed with the update. Could you open a PR for it? 😄

[2020-08-29 01:34] yinsang commented on #1191
As the project hasn't UnitTest, how contributor can test all the cases and ensure the stability of the code changing?
I am afraid of making some mistake unexpectedly.

[2020-08-31 06:59] Chalarangelo commented on #1191
@yinsang We used to have unit testing, but maintaing the tests was even more work than the code itself. To minimize contributor friction, we opted for manual testing of all the cases we can find. Contributors are encouraged to test snippets themselves and report any changes if they can.

For this specific snippet, I do not see that many things that can go wrong. Just check a few arrays with differ

[2020-08-31 08:38] yinsang commented on #1191
Thanks.Refresh the concept of mine about program's UnitTest.
Indeed,Rate of flow and contrubution is open Source's soul.
I had converted *.md file to **.test.js to find bad cases of the project in the past few days.
It's actually much work, too many warnings and errors.  :(
I will keep the UnitTest in my local files and push a PR only with the *.md files some time.

[2020-08-31 13:35] Chalarangelo commented on #1191
@yinsang Cool, mind if I assign you the task then?

[2020-09-01 00:51] Jecyu opened #1192 "Why do not add some use cases of the real-world in snippets description?"
when I review some snippets, I used to get stuck in what's the real-world problems does snippet solves as an example `sumPower` snippet.  This does not require the contributor to do more work, because he needs to consider the usage scenario of the code fragment before contributing.

[code]

[2020-09-01 09:37] Chalarangelo commented on #1192
Some of the snippets are more educational than used very often. This is especially true with math snippets, such as the one you mention. Providing real-world scenarios, while important, is not something we can document thoroughly sometimes.

[2020-09-01 09:39] #1192 closed

[2020-09-01 09:50] davoodgf commented on #1192
#1192

[2020-09-01 09:57] davoodgf commented on #1192
#1192

[2020-09-01 12:59] Jecyu commented on #1192
Thanks for your explanation. I got that.

[2020-09-02 02:31] yinsang commented on #1164
"inThrottle" was init as undefined (Boolean as false).
while false, function will apply immediately and change this variable to true.
After wait few time( setTimeout Event loop), function will apply again.

[2020-09-02 02:55] yinsang commented on #1191
Come on please!
I just pulled a request to you.

[2020-09-02 09:42] Chalarangelo commented on #1191
Fixed in #1196

[2020-09-02 09:42] #1191 closed

[2020-09-04 03:56] jennyjenny04 opened #1208 "Spam"

[2020-09-04 05:21] rohansp commented on #1183
I believe Array.isArray(obj) checks if obj is of type Array.  Array.from(obj) is the deep clone of the array .Correct me if I am wrong.

[2020-09-04 06:41] Chalarangelo commented on #1183
We're looking into this. I'll get back to you.

[2020-09-04 06:41] henrycjchen commented on #1183
Array.from is actually the shallow copy of the array. You can check it from [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/from)

[2020-09-04 06:47] henrycjchen commented on #1164
Thanks for explanation.

[2020-09-04 06:59] #1164 closed

[2020-09-04 10:35] #1208 closed

[2020-09-04 16:33] Chalarangelo commented on #1183
Solved in de38320. The code was simplified and some notes were added for this.

[2020-09-04 16:33] #1183 closed

[2020-09-05 10:45] Ikalkin commented on #1185
Hi people

[2020-09-08 05:55] SATAKSHI08 commented on #1185
i'll work on it

[2020-09-16 12:19] 30secondsofcode commented on #1185
Closing due to inactivity.

[2020-09-16 12:19] #1185 closed

[2020-09-20 16:16] pachbrasil commented on #1175
Hum..

[2020-09-20 18:07] Sparkadelic177 commented on #1175
@pachbrasil you can go for it if you want.

[2020-09-21 14:04] shivichoudhary commented on #1175
sure

[2020-09-21 17:13] Taimoor0217 commented on #1175
@Sparkadelic177 can I please take this?

[2020-09-22 03:30] geekylilgirl420 commented on #1175
Look I am totally lost on here. All I is my ex has access to all my accounts idk how but he is ruining my life.

[2020-09-22 09:43] Taimoor0217 commented on #1175
@Chalarangelo I have opened a [pull request](https://github.com/30-seconds/30-seconds-of-code/pull/1220) for this.
Thankyou !

[2020-09-22 19:37] #1175 closed

[2020-09-27 07:27] Wasyl92 opened #1224 "Задачки куски коду"

[2020-09-27 07:42] #1224 closed

[2020-10-03 17:56] zhixiangteoh opened #1243 "Update What are JavaScript closures?"
I would like to add this to the discussion on closures in JavaScript, at [What are JavaScript closures?](https://www.30secondsofcode.org/blog/s/javascript-closures); I can't seem to find where the source markdown is located:

One of the most classic examples of JavaScript closures is returning an _inner function_ within some outer function, and then that _inner function_ can be accessed anywhere o

[2020-10-03 18:16] Chalarangelo commented on #1243
I think the second example in the blog post covers the same ground even if the enclosed function is inside an object. Also, we try to keep blogs as brief as possible to keep readers engaged and allow for them to be used as a quick reference.

[2020-10-03 18:16] #1243 closed

[2020-10-04 20:21] jikuja opened #1299 "Duplicating existing snippets with different coding paradimas"
Is it suitable for this repository to duplicate existing snippets with different paradigms?

E.g. rewrite code that uses a mutable accumulator with immutable functional code or rewriting callback styled/synchronous calls to promise-based implementations?

If that's ok is there any preferred naming policy for new versions?

[2020-10-05 14:43] jikuja opened #1324 "Hacktoberfest and PR closing with invalid label"
Looks like some PRs are closed with invalid label and `However, I don't think this PR provides a lot of value for most of our readers.` or similar explanation.

I want to raise a discussion if marking PRs done in good faith is worth of tagging with **invalid** label just because content has no value for most of the readers.  It hurts people participating hacktoberfest.

If providing content which

[2020-10-05 16:22] Chalarangelo commented on #1324
Hello, we are getting a lot of low-effort, low-value and high-attitude PRs (yours included). We mark PRs that are spammy/annoying/persistently problematic or irrelevant for future contributors as `invalid` or as we see fit to ensure ease of finding valid contributions. We try to process valid PRs as fast as we can, so we don't really have the time to explain the issues we find in every single PR t

[2020-10-05 16:22] #1324 closed

[2020-10-05 16:29] Chalarangelo commented on #1299
We currently do not support multiple implementations per snippet. Maybe sometime in the future.

[2020-10-05 16:29] #1299 closed

[2020-10-06 07:01] koenbnl opened #1343 "java"
30sec code []()

[2020-10-06 08:00] widyakumara opened #1346 "Link methods, concepts, etc to MDN"
I think it will be beneficial for new programmers to have methods, concepts, etc linked to MDN (or whatever relevant documentation).

E.g. on [Median](https://www.30secondsofcode.org/js/s/median) description have `Array.prototype.sort()` and `length` linked to [Array.prototype.sort()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort) and [Array.prototype.

[2020-10-06 09:01] Chalarangelo commented on #1346
This is a platform feature that we are going to work on in 2021 most likely. I'll move the issue to that project and tag it accordingly, but it might be a while until it's up and running.

[2020-10-06 09:03] #1343 closed

[2020-10-06 11:01] sesam opened #1353 "Clarification of rules of participation"
1. Is it 100% required to install your software globally?
I'm not sure it's OK to demand contributors to globally install software in order to contribute. (Would you like a side-dish of a crypto miner with that install?)

2. Are no PR:s for adding new snippets accepted without a corresponding issue?
I noticed quite some open PR:s without corresponding issues, so I guessed it would be OK to not ope

[2020-10-06 12:22] Chalarangelo commented on #1353
1. No, but if you make a mistake in following the rules that's on you. The package we require you to install makes contributing easier and makes sure we don't have to check for some of the rules in PRs. Due to limited time during Hacktoberfest, PRs with multiple contribution rule violations will be closed without further investigation.

2. PRs are accepted without issues, if they meet the criteria

[2020-10-06 13:11] sesam commented on #1353
Thank you for clarifying. I started considering if a github action could take care of the pr rules check. It could perhaps also cause some misuse of the pr pipeline instead of checking syntax locally though. And finding a code style checker for the specific chosen semi-standard might be tricky. So I'll bail on this for now, but thank you anyway.

[2020-10-06 13:11] #1353 closed

[2020-10-07 04:17] Seasle opened #1376 "Digitize works incorrectly"
Now `digitize` [snippet](https://www.30secondsofcode.org/js/s/digitize) works with only unsigned numbers:
[code]
Can we update snippet to the next state?
[code]

[code]